Repository RevenueCat/purchases-ios, pull requests merged in 2023-07, with the labels that each got.

#2748 `Integration Tests`: updated load-shedder offerings snapshot
  Tests/BackendIntegrationTests/__Snapshots__/LoadShedderIntegrationTests/testCanGetOfferings.1.json
Labels: test

#2743 `Documentation`: add reference to `TestStoreProduct`
  Sources/DocCDocumentation/DocCDocumentation.docc/Purchases.md
  Sources/DocCDocumentation/DocCDocumentation.docc/RevenueCat.md
Labels: docs

#2747 `HTTPRequest.Path`: escape `appUserID`
  Sources/FoundationExtensions/String+Extensions.swift
  Sources/Networking/HTTPClient/HTTPRequest.swift
  Sources/Networking/Operations/GetCustomerInfoOperation.swift
  Sources/Networking/Operations/GetIntroEligibilityOperation.swift
  Sources/Networking/Operations/GetOfferingsOperation.swift
  Sources/Networking/Operations/LogInOperation.swift
  Sources/Networking/Operations/PostAdServicesTokenOperation.swift
  Sources/Networking/Operations/PostAttributionDataOperation.swift
  Sources/Networking/Operations/PostSubscriberAttributesOperation.swift
  Tests/BackendIntegrationTests/LoadShedderIntegrationTests.swift
  Tests/UnitTests/FoundationExtensions/StringExtensionsTests.swift
  Tests/UnitTests/Networking/Backend/BackendGetCustomerInfoTests.swift
  Tests/UnitTests/Networking/HTTPRequestTests.swift
Labels: refactor

#2746 `Trusted Entitlements`: add API key and `HTTPRequest.Path` to signature
  Sources/Logging/Strings/SigningStrings.swift
  Sources/Networking/Backend.swift
  Sources/Networking/HTTPClient/HTTPClient.swift
  Sources/Security/FakeSigning.swift
  Sources/Security/Signing+ResponseVerification.swift
  Sources/Security/Signing.swift
  Tests/UnitTests/Mocks/MockHTTPClient.swift
  Tests/UnitTests/Mocks/MockSigning.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Networking/HTTPResponseTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
  Tests/UnitTests/Security/SigningTests.swift
Labels: refactor

#2700 `Integration Tests`: refactored expiration detection
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
Labels: test, refactor

#2752 `Trusted Entitlements`: produce verification failures for static endpoints with no signature
  Sources/Logging/Strings/SigningStrings.swift
  Sources/Networking/HTTPClient/HTTPClient.swift
  Sources/Networking/HTTPClient/HTTPRequest.swift
  Sources/Security/Signing+ResponseVerification.swift
  Sources/Security/Signing.swift
  Tests/UnitTests/Networking/HTTPRequestTests.swift
  Tests/UnitTests/Networking/HTTPResponseTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
  Tests/UnitTests/Security/SigningTests.swift
Labels: refactor

#2758 `Trusted Entitlements`: update handling of escaped URLs
  Sources/Logging/Strings/SigningStrings.swift
  Sources/Security/Signing.swift
  Tests/UnitTests/Security/SigningTests.swift
Labels: refactor

#2757 `PurchasesDiagnostics`: don't test signature verification if it's disabled
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Sources/Support/PurchasesDiagnostics.swift
  Tests/BackendIntegrationTests/CustomEntitlementsComputationIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/UnitTests/Misc/PurchasesDiagnosticsTests.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
Labels: fix

#2756 `Testing`: add new `SimpleApp`
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/xcshareddata/xcschemes/SimpleApp.xcscheme
  Tests/TestingApps/SimpleApp/SimpleApp.xcworkspace/contents.xcworkspacedata
  Tests/TestingApps/SimpleApp/SimpleApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Tests/TestingApps/SimpleApp/SimpleApp/Assets.xcassets/AccentColor.colorset/Contents.json
  Tests/TestingApps/SimpleApp/SimpleApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  Tests/TestingApps/SimpleApp/SimpleApp/Assets.xcassets/Contents.json
  Tests/TestingApps/SimpleApp/SimpleApp/ContentView.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Preview Content/Preview Assets.xcassets/Contents.json
  Tests/TestingApps/SimpleApp/SimpleApp/Products.storekit
  Tests/TestingApps/SimpleApp/SimpleApp/SimpleApp.entitlements
  Tests/TestingApps/SimpleApp/SimpleApp/SimpleApp.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views.swift
Labels: test

#2759 `SimpleApp`: changed bundle identifier
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
Labels: test

#2760 `Integration Tests`: `TestLogHandler` no longer crashes tests
  Tests/UnitTests/TestHelpers/TestLogHandler.swift
Labels: test

#2761 `Trusted Entitlements`: added support for unauthenticated endpoints
  Sources/Security/Signing.swift
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
  Tests/UnitTests/Security/SigningTests.swift
Labels: refactor

#2754 `Tests`: optimized several tests
  RevenueCat.xcodeproj/project.pbxproj
  Tests/StoreKitUnitTests/Support/DebugViewSwiftUITests.swift
  Tests/StoreKitUnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS16-testDebugView.1.png
  Tests/StoreKitUnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS16-testLoadingState.1.png
  Tests/StoreKitUnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS17-testDebugView.1.png
  Tests/StoreKitUnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS17-testLoadingState.1.png
  Tests/StoreKitUnitTests/TestHelpers/ImageSnapshot.swift
  Tests/UnitTests/Diagnostics/FileHandlerTests.swift
  Tests/UnitTests/Mocks/MockOfferingsFactory.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS16-testDebugView.1.png
  Tests/UnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS17-testDebugView.1.png
Labels: test

#2751 `Trusted Entitlements`: log signature errors on requests with `.informational` mode
  Sources/Logging/Strings/SigningStrings.swift
  Sources/Networking/HTTPClient/HTTPClient.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
Labels: refactor

#2769 `AnyEncodable`: also implement `Decodable`
  Sources/Misc/Codable/AnyEncodable.swift
  Tests/UnitTests/Misc/AnyEncodableTests.swift
Labels: refactor

#2775 `CI`: remove `Jazzy`
  .jazzy.yaml
  Contributing/SwiftStyleGuide.swift
  Gemfile
  Gemfile.lock
  Tests/InstallationTests/SPMInstallation/fastlane/README.md
  fastlane/Fastfile
Labels: ci, docs

#2744 `Integration Tests`: re-enable signature verification tests
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/CustomEntitlementsComputationIntegrationTests.swift
  Tests/BackendIntegrationTests/LoadShedderIntegrationTests.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
Labels: test

#2621 `Trusted Entitlements`: re-enable public API
  Sources/Purchasing/Configuration.swift
  Sources/Purchasing/EntitlementInfo.swift
  Sources/Purchasing/EntitlementInfos.swift
  Sources/Security/VerificationResult.swift
  Tests/APITesters/ObjCAPITester/ObjCAPITester/RCConfigurationAPI.m
  Tests/APITesters/ObjCAPITester/ObjCAPITester/RCEntitlementInfosAPI.m
  Tests/APITesters/SwiftAPITester/SwiftAPITester/ConfigurationAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/EntitlementInfoAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/EntitlementInfosAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/VerificationResultAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/main.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Core/ConfiguredPurchases.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/PurchaseTesterWatchOS/PurchaseTesterWatchApp.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Extensions/Extensions.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/PurchaseTesterApp.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/ConfigurationView.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/Customer/CustomerInfoView.swift
Labels: feat

#2777 `Tests`: fixed flaky failure with asynchronous check
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesConfiguringTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesDelegateTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetCustomerInfoTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesLogInTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesPurchasingTests.swift
Labels: test

#2783 `Trusted Entitlements`: added link to docs in `ErrorCode.signatureVerificationFailed`
  Sources/Error Handling/ErrorCode.swift
Labels: refactor

#2779 `Refactor`: extracted `Collection.subscript(safe:)`
  Sources/FoundationExtensions/Array+Extensions.swift
  Tests/UnitTests/FoundationExtensions/ArrayExtensionsTests.swift
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
Labels: refactor

#2788 `TrustedEntitlements`: new `VerificationResult.isVerified`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Security/VerificationResult.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/VerificationResultAPI.swift
  Tests/UnitTests/Security/VerificationResultTests.swift
Labels: refactor

#2786 `Tests`: fixed another flaky failure with asynchronous check
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
Labels: test

#2792 `Unit Tests`: removed leak detection
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
Labels: test

#2784 `TestLogHandler`: changed all tests to explicitly deinitialize it
  .swiftlint.yml
  RevenueCat.xcodeproj/project.pbxproj
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/CustomEntitlementsComputationIntegrationTests.swift
  Tests/BackendIntegrationTests/LoadShedderIntegrationTests.swift
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitObserverModeIntegrationTests.swift
  Tests/StoreKitUnitTests/LoggerTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2TransactionListenerTests.swift
  Tests/UnitTests/Identity/CustomerInfoManagerPostReceiptTests.swift
  Tests/UnitTests/Identity/CustomerInfoManagerTests.swift
  Tests/UnitTests/Identity/IdentityManagerTests.swift
  Tests/UnitTests/Misc/TestCase.swift
  Tests/UnitTests/Misc/TimingUtilTests.swift
  Tests/UnitTests/Networking/Backend/BackendGetOfferingsTests.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
  Tests/UnitTests/OfflineEntitlements/CustomerInfoResponseHandlerTests.swift
  Tests/UnitTests/Purchasing/EntitlementInfosTests.swift
  Tests/UnitTests/Purchasing/ErrorUtilsTests.swift
  Tests/UnitTests/Purchasing/OfferingsManagerTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesConfiguringTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesLogInTests.swift
  Tests/UnitTests/Purchasing/Purchases/TransactionPosterTests.swift
  Tests/UnitTests/Purchasing/StoreKit1WrapperTests.swift
  Tests/UnitTests/Security/SigningTests.swift
  Tests/UnitTests/SubscriberAttributes/BackendSubscriberAttributesTests.swift
  Tests/UnitTests/TestHelpers/TestLogHandler.swift
Labels: test

#2794 `TimingUtil`: improved tests by using `Clock`
  Sources/Misc/DateAndTime/Clock.swift
  Sources/Misc/DateAndTime/TimingUtil.swift
  Tests/UnitTests/Misc/TimingUtilTests.swift
  Tests/UnitTests/Mocks/TestClock.swift
Labels: test

#2795 `Tests`: fixed another flaky test
  Tests/UnitTests/Purchasing/Purchases/PurchasesLogInTests.swift
Labels: test

#2780 `Paywalls`: initial configuration types
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Paywalls/PaywallData.swift
  Sources/Paywalls/PaywallTemplate.swift
  Sources/Purchasing/Offering.swift
  Sources/Purchasing/OfferingsFactory.swift
  Tests/APITesters/ObjCAPITester/ObjCAPITester/RCOfferingAPI.m
  Tests/APITesters/SwiftAPITester/SwiftAPITester.xcodeproj/project.pbxproj
  Tests/APITesters/SwiftAPITester/SwiftAPITester/OfferingAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/BackendIntegrationTests/__Snapshots__/LoadShedderIntegrationTests/testCanGetOfferings.1.json
  Tests/BackendIntegrationTests/__Snapshots__/StoreKitIntegrationTests/testCanGetOfferings.1.json
  Tests/UnitTests/Misc/XCTestCase+Extensions.swift
  Tests/UnitTests/Networking/Responses/BaseHTTPResponseTest.swift
  Tests/UnitTests/Networking/Responses/Fixtures/Offerings.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-missing_current_and_default_locale.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-missing_current_locale.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Networking/Responses/PaywallDataTests.swift
Labels: feat, RevenueCatUI

#2781 `Paywalls`: using `PaywallData` and setting up basic template loading
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/TestData.swift
  Tests/RevenueCatUITests/PaywallViewTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SimpleApp.swift
Labels: refactor, RevenueCatUI

#2802 Replaced `FatalErrorUtil` with `Nimble`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Misc/FatalErrorUtil.swift
  Tests/StoreKitUnitTests/UserDefaultsDefaultTests.swift
  Tests/UnitTests/FoundationExtensions/ResultExtensionsTests.swift
  Tests/UnitTests/Misc/XCTestCase+Extensions.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesConfiguringTests.swift
Labels: test

#2799 `Tests`: removed forced-unwrap
  Tests/UnitTests/Networking/Backend/BackendGetCustomerInfoTests.swift
Labels: test

#2801 `Tests`: unified default timeouts
  Tests/UnitTests/Networking/Backend/BackendPostReceiptDataTests.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesPurchasingTests.swift
  Tests/UnitTests/TestHelpers/AsyncTestHelpers.swift
Labels: test

#2753 `Trusted Entitlements`: add support for signing `POST` body
  RevenueCat.xcodeproj/project.pbxproj
  Sources/FoundationExtensions/Data+Extensions.swift
  Sources/Networking/HTTPClient/HTTPClient.swift
  Sources/Networking/HTTPClient/HTTPRequest.swift
  Sources/Networking/HTTPClient/HTTPRequestBody.swift
  Sources/Networking/HTTPClient/HTTPResponseBody.swift
  Sources/Networking/Operations/GetIntroEligibilityOperation.swift
  Sources/Networking/Operations/LogInOperation.swift
  Sources/Networking/Operations/PostAdServicesTokenOperation.swift
  Sources/Networking/Operations/PostAttributionDataOperation.swift
  Sources/Networking/Operations/PostOfferForSigningOperation.swift
  Sources/Networking/Operations/PostReceiptDataOperation.swift
  Sources/Networking/Operations/PostSubscriberAttributesOperation.swift
  Sources/Security/HTTPRequestBody+Signing.swift
  Sources/Security/Signing+ResponseVerification.swift
  Sources/Security/Signing.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
  Tests/UnitTests/Mocks/MockHTTPClient.swift
  Tests/UnitTests/Networking/Backend/BackendLoginTests.swift
  Tests/UnitTests/Networking/Backend/BackendPostReceiptDataTests.swift
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS12-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS12-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS13-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS13-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS14-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS14-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS15-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS15-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS16-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS16-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS12-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS13-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS13-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS14-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS14-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS15-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS15-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS16-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS16-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
  Tests/UnitTests/Security/SigningTests.swift
Labels: refactor

#2803 `SystemInfo.init` no longer `throws`
  Sources/Misc/SystemInfo.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/StoreKitUnitTests/LocalReceiptParserStoreKitTests.swift
  Tests/StoreKitUnitTests/OfferingsManagerStoreKitTests.swift
  Tests/StoreKitUnitTests/ProductsManagerTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/TrialOrIntroPriceEligibilityCheckerSK1Tests.swift
  Tests/StoreKitUnitTests/TrialOrIntroPriceEligibilityCheckerSK2Tests.swift
  Tests/UnitTests/Attribution/AttributionPosterTests.swift
  Tests/UnitTests/Misc/SandboxEnvironmentDetectorTests.swift
  Tests/UnitTests/Misc/SystemInfoTests.swift
  Tests/UnitTests/Mocks/MockBackend.swift
  Tests/UnitTests/Mocks/MockIdentityManager.swift
  Tests/UnitTests/Mocks/MockSystemInfo.swift
  Tests/UnitTests/Mocks/MockTrialOrIntroPriceEligibilityChecker.swift
  Tests/UnitTests/Networking/Backend/BackendPostReceiptDataTests.swift
  Tests/UnitTests/Networking/Backend/BaseBackendTest.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
  Tests/UnitTests/Purchasing/IntroEligibilityCalculatorTests.swift
  Tests/UnitTests/Purchasing/OfferingsManagerTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesPurchasingTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesSyncPurchasesTests.swift
  Tests/UnitTests/Purchasing/ReceiptFetcherTests.swift
  Tests/UnitTests/Purchasing/StoreKitAbstractions/StoreKitWorkaroundsTests.swift
  Tests/UnitTests/SubscriberAttributes/BackendSubscriberAttributesTests.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
  Tests/UnitTests/SubscriberAttributes/SubscriberAttributesManagerTests.swift
Labels: refactor

#2797 `PackageType: Codable` implementation
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Purchasing/PackageType.swift
  Tests/UnitTests/Purchasing/PackageTypeTests.swift
Labels: refactor

#2805 Revert "`Unit Tests`: removed leak detection"
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
Labels: test

#2808 `Paywalls`: determine intro eligibility
  RevenueCatUI/Helpers/Constants.swift
  RevenueCatUI/Helpers/DebugErrorView.swift
  RevenueCatUI/Helpers/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Helpers/TrialOrIntroEligibilityChecker.swift
  RevenueCatUI/Modifiers/ViewExtensions.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/TestData.swift
  Sources/Paywalls/PaywallData.swift
  Sources/Purchasing/IntroEligibility.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/IntroEligibilityAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/PaywallViewTests.swift
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithIneligibleIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithLoadingEligibility.1.png
  Tests/TestingApps/SimpleApp/SimpleApp/SimpleApp.swift
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/PaywallDataTests.swift
  Tests/UnitTests/Purchasing/IntroEligibilityCalculatorTests.swift
  Tests/UnitTests/TestHelpers/SnapshotTesting+Extensions.swift
Labels: refactor, RevenueCatUI

#2806 `Tests`: avoid race-condition in leak detection
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
Labels: test

#2811 `Paywalls`: changed variable handling to use Swift `Regex`
  RevenueCatUI/Helpers/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Helpers/Variables.swift
Labels: refactor, RevenueCatUI

#2807 `PackageTypeTests`: fixed iOS 12
  Tests/UnitTests/Purchasing/PackageTypeTests.swift
Labels: test

#2815 `CustomEntitlementsComputation`: fixed API testers
  .circleci/config.yml
  Tests/APITesters/CustomEntitlementComputationSwiftAPITester/SwiftAPITester/PurchasesAPI.swift
  fastlane/Fastfile
  fastlane/README.md
Labels: test

#2813 `throwAssertion`: fixed Xcode 15 compilation
  Tests/UnitTests/Misc/XCTestCase+Extensions.swift
Labels: test, iOS 17

#2814 `MockDeviceCache`: avoid using real `UserDefaults`
  Tests/UnitTests/Mocks/MockDeviceCache.swift
Labels: test

#2810 `Paywalls`: added tests for `PackageType` filtering
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  Tests/RevenueCatUITests/PackageFilteringTests.swift
Labels: test, RevenueCatUI

#2812 `Paywalls`: added support for purchasing
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/TestData.swift
  RevenueCatUI/Views/AsyncButton.swift
  RevenueCatUI/Views/DebugErrorView.swift
  Tests/RevenueCatUITests/PaywallViewTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
  Tests/TestingApps/SimpleApp/SimpleApp/Configuration.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SimpleApp.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/AppContentView.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/DebugView.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/PaywallScreen.swift
Labels: refactor, RevenueCatUI

#2819 New `@NonEmptyStringDecodable`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Misc/Codable/NonEmptyStringDecodable.swift
  Tests/UnitTests/FoundationExtensions/DecoderExtensionTests.swift
Labels: refactor

#2820 `MainThreadMonitor`: check deadlocks only ever N seconds
  Tests/BackendIntegrationTests/MainThreadMonitor.swift
Labels: test

#2818 `PaywallData`: ignore empty strings in `LocalizedConfiguration`
  Sources/Paywalls/PaywallData.swift
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
Labels: refactor, RevenueCatUI

#2822 `Paywalls`: added support for decoding colors
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Helpers/ColorInformation+MultiScheme.swift
  RevenueCatUI/TestData.swift
  Sources/Paywalls/PaywallColor.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/UnitTests/Networking/Responses/Fixtures/Offerings.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-missing_current_and_default_locale.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-missing_current_locale.json
  Tests/UnitTests/Paywalls/PaywallColorTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2597 `iOS 17`: added tests for simulating cancellations
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/TestHelpers/AvailabilityChecks.swift
  Tests/UnitTests/Mocks/MockStoreKit2TransactionListener.swift
Labels: test, iOS 17

#2831 `@EnsureNonEmptyArrayDecodable`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Misc/Codable/EnsureNonEmptyArrayDecodable.swift
  Tests/UnitTests/FoundationExtensions/DecoderExtensionTests.swift
Labels: refactor

#2816 `Paywalls`: set up CI tests and API Tester
  .circleci/config.yml
  Package.swift
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/Views/DebugErrorView.swift
  Tests/APITesters/ReceiptParserAPITester/ReceiptParserAPITester.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Tests/APITesters/RevenueCatUIAPITester/RevenueCatUISwiftAPITester.xcodeproj/project.pbxproj
  Tests/APITesters/RevenueCatUIAPITester/RevenueCatUISwiftAPITester.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Tests/APITesters/RevenueCatUIAPITester/RevenueCatUISwiftAPITester.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Tests/APITesters/RevenueCatUIAPITester/RevenueCatUISwiftAPITester.xcodeproj/xcshareddata/xcschemes/SwiftAPITester.xcscheme
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewAPI.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/main.swift
  Tests/RevenueCatUITests/PaywallViewTests.swift
  Tests/UnitTests/TestHelpers/OSVersionEquivalent.swift
  Tests/UnitTests/TestHelpers/SnapshotTesting+Extensions.swift
  fastlane/Fastfile
  fastlane/README.md
Labels: test, RevenueCatUI

#2823 `Paywalls`: using new color information in template
  RevenueCatUI/Helpers/ColorInformation+MultiScheme.swift
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/TestData.swift
  Tests/RevenueCatUITests/PaywallViewTests.swift
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testDarkMode.1.png
Labels: refactor, RevenueCatUI

#2821 `Paywalls`: disable `macOS`/`macCatalyst`/`watchOS` for now
  RevenueCatUI/PaywallView.swift
Labels: refactor, RevenueCatUI

#2827 `Paywalls`: improved support for dynamic type with snapshots
  RevenueCatUI/Extensions/ScrollView+Extensions.swift
  RevenueCatUI/Templates/Example1Template.swift
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/RevenueCatUITests/Helpers/DataExtensions.swift
  Tests/RevenueCatUITests/PaywallViewDynamicTypeTests.swift
  Tests/RevenueCatUITests/PaywallViewTests.swift
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility1.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility3.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility5.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testMedium.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testSmall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXSmall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithIneligibleIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithLoadingEligibility.1.png
Labels: refactor, RevenueCatUI

#2836 `CI`: fixed Fastlane APITester lanes
  fastlane/Fastfile
Labels: test, ci

#2838 `MainThreadMonitor`: don't crash if there is no test in progress
  Tests/BackendIntegrationTests/MainThreadMonitor.swift
  Tests/UnitTests/TestHelpers/CurrentTestCaseTracker.swift
Labels: test

#2854 `CustomEntitlementComputation`: removed `syncPurchases`/`restorePurchases`
  Sources/Misc/Concurrency/Purchases+async.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Tests/APITesters/CustomEntitlementComputationSwiftAPITester/SwiftAPITester/PurchasesAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PurchasesAPI.swift
Labels: refactor

#2837 `Paywalls`: extracted `IntroEligibilityStateView`
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/Views/IntroEligibilityStateView.swift
Labels: refactor, RevenueCatUI

#2839 `Paywalls`: extracted `PurchaseButton`
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Helpers/ColorInformation+MultiScheme.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/Templates/Example1Template.swift
  RevenueCatUI/Views/AsyncButton.swift
  RevenueCatUI/Views/PurchaseButton.swift
Labels: refactor, RevenueCatUI

#2845 `Paywalls`: added new `total_price_and_per_month` variable
  RevenueCatUI/Data/Localization.swift
  RevenueCatUI/Data/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  RevenueCatUI/Helpers/StoreProductDiscount+Localization.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/LocalizationTests.swift
Labels: refactor, RevenueCatUI

#2846 `Paywalls`: `TrialOrIntroEligibilityChecker.eligibility(for packages:)`
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Helpers/TrialOrIntroEligibilityChecker.swift
  Sources/Purchasing/IntroEligibility.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PurchasesAPI.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetProductsTests.swift
Labels: refactor, RevenueCatUI

#2848 `Paywalls`: disable animations during unit tests
  Tests/UnitTests/TestHelpers/SnapshotTesting+Extensions.swift
Labels: test, RevenueCatUI

#2849 `CustomEntitlementComputation`: added integration test for cancellations
  RevenueCat.xcodeproj/project.pbxproj
  Tests/BackendIntegrationTests/CustomEntitlementsComputationIntegrationTests.swift
Labels: test, iOS 17

#2844 Add SPM `Package.resolved` for Xcode Cloud
  .gitignore
  Package.resolved
  RevenueCat.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RevenueCat.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: ci

#2843 `NetworkError`: 2 new tests to ensure underlying error is included in description
  Tests/UnitTests/Networking/BackendErrorTests.swift
  Tests/UnitTests/Networking/NetworkErrorTests.swift
  Tests/UnitTests/Purchasing/OfferingsManagerTests.swift
Labels: test

#2867 `IntegrationTests`: replaced `Purchases.shared` with a `throw`ing property
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/CustomEntitlementsComputationIntegrationTests.swift
  Tests/BackendIntegrationTests/LoadShedderIntegrationTests.swift
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitObserverModeIntegrationTests.swift
  Tests/BackendIntegrationTests/SubscriberAttributesManagerIntegrationTests.swift
  Tests/UnitTests/TestHelpers/AsyncTestHelpers.swift
Labels: test

#2864 `Codable`: debug log entire JSON when decoding fails
  Sources/FoundationExtensions/Decoder+Extensions.swift
  Sources/Logging/Strings/CodableStrings.swift
  Sources/Networking/HTTPClient/ErrorResponse.swift
Labels: refactor

#2863 `BasePurchasesTests`: consolidate to only initialize one `DeviceCache`
  Tests/UnitTests/Mocks/MockIdentityManager.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
Labels: test

#2862 `SimpleApp`: updates for TestFlight compatibility
  .gitignore
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
  Tests/TestingApps/SimpleApp/SimpleApp.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Tests/TestingApps/SimpleApp/SimpleApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  Tests/TestingApps/SimpleApp/SimpleApp/Assets.xcassets/AppIcon.appiconset/appstore1024.png
  Tests/TestingApps/SimpleApp/SimpleApp/Info.plist
Labels: test

#2840 `Paywalls`: multi-package template
  Package.swift
  RevenueCatUI/Data/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/MultiPackageTemplate.swift
  RevenueCatUI/Templates/SinglePackageTemplate.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/Views/IntroEligibilityStateView.swift
  RevenueCatUI/Views/PurchaseButton.swift
  RevenueCatUI/Views/RemoteImage.swift
  Sources/Paywalls/PaywallTemplate.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
  Tests/RevenueCatUITests/Helpers/DataExtensions.swift
  Tests/RevenueCatUITests/MultiPackagePaywallViewTests.swift
  Tests/RevenueCatUITests/PaywallViewDynamicTypeTests.swift
  Tests/RevenueCatUITests/Resources/image.png
  Tests/RevenueCatUITests/Resources/image_1.jpg
  Tests/RevenueCatUITests/Resources/image_2.jpg
  Tests/RevenueCatUITests/SinglePackagePaywallViewTests.swift
  Tests/RevenueCatUITests/__Snapshots__/MultiPackagePaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/__Snapshots__/MultiPackagePaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility1.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility3.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility5.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testMedium.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testSmall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXSmall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testCardPaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithIneligibleIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewTests/iOS16-testSamplePaywallWithLoadingEligibility.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testBannerPaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testCardPaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywallWithIneligibleIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywallWithIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywallWithLoadingEligibility.1.png
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2850 `Paywalls`: added `FooterView`
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/Templates/MultiPackageTemplate.swift
  RevenueCatUI/Templates/SinglePackageTemplate.swift
  RevenueCatUI/Views/FooterView.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/__Snapshots__/MultiPackagePaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/__Snapshots__/MultiPackagePaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility1.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility3.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility5.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testMedium.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testSmall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXSmall.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXXLarge.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywallWithIneligibleIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywallWithIntroOffer.1.png
  Tests/RevenueCatUITests/__Snapshots__/SinglePackagePaywallViewTests/iOS16-testSamplePaywallWithLoadingEligibility.1.png
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2851 `Paywalls`: basic localization support
  Package.swift
  RevenueCatUI/Data/Localization.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Resources/en.lproj/Localizable.strings
  RevenueCatUI/Resources/es.lproj/Localizable.strings
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/Views/AsyncButton.swift
  RevenueCatUI/Views/FooterView.swift
  RevenueCatUI/Views/IntroEligibilityStateView.swift
  RevenueCatUI/Views/PurchaseButton.swift
  Tests/RevenueCatUITests/PaywallViewLocalizationTests.swift
  Tests/RevenueCatUITests/Resources/image_1.jpg
  Tests/RevenueCatUITests/Resources/image_2.jpg
  Tests/RevenueCatUITests/__Snapshots__/PaywallViewLocalizationTests/iOS16-testSpanish.1.png
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
  Tests/TestingApps/SimpleApp/SimpleApp/Products.storekit
  Tests/TestingApps/SimpleApp/SimpleApp/Views/DebugView.swift
Labels: refactor, RevenueCatUI

#2847 `Paywalls`: fuzzy `Locale` lookups
  Sources/Paywalls/PaywallData.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2852 `Paywalls`: added new `blurredBackgroundImage` configuration
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Templates/MultiPackageTemplate.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2853 `Paywalls`: added test to ensure package selection maintains order
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
Labels: test, RevenueCatUI

#2866 `CustomEntitlementComputation`: removed `invalidateCustomerInfoCache`
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
Labels: refactor

#2870 `Tests`: increased default logger capacity
  Tests/UnitTests/Misc/TestCase.swift
Labels: test

#2865 `Perf`: update `CustomerInfo` cache before anything else
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetOfferingsTests.swift
Labels: perf

#2861 `TestStoreProduct`: made available on release builds
  Sources/Purchasing/StoreKitAbstractions/StoreProduct.swift
  Sources/Purchasing/StoreKitAbstractions/Test Data/TestStoreProduct.swift
  Sources/Purchasing/StoreKitAbstractions/Test Data/TestStoreProductDiscount.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/TestStoreProductAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/TestStoreProductDiscountAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/main.swift
  Tests/StoreKitUnitTests/StoreProductTests.swift
Labels: refactor

#2860 `Paywalls`: pre-fetch intro eligibility for paywalls
  Sources/Logging/Strings/EligibilityStrings.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Mocks/MockOfferingsManager.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetOfferingsTests.swift
Labels: refactor, RevenueCatUI

#2880 `SimpleApp`: added support for localization
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
  Tests/TestingApps/SimpleApp/SimpleApp/en.lproj/Localizable.strings
  Tests/TestingApps/SimpleApp/SimpleApp/es.lproj/Localizable.strings
Labels: test

#2884 `xrOS`: fixed `SubscriptionStoreView` for visionOS beta 2
  Sources/Support/PaywallExtensions.swift
Labels: fix, iOS 17

#2885 `Xcode 15 beta 5`: fixed test compilation
  Tests/UnitTests/Misc/XCTestCase+Extensions.swift
Labels: test, iOS 17

#2876 `Paywalls`: new `{{ period }}` variable
  RevenueCatUI/Data/Localization.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  RevenueCatUI/Resources/en.lproj/Localizable.strings
  RevenueCatUI/Resources/es.lproj/Localizable.strings
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/LocalizationTests.swift
Labels: refactor, RevenueCatUI

#2877 `Paywalls`: added `offerName` parameter
  RevenueCatUI/Data/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Templates/MultiPackageTemplate.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2881 `Paywalls`: fixed `{{ total_price_and_per_month }}`
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
Labels: refactor, RevenueCatUI

#2898 `CachingProductsManager`: removed duplicate log and added tests
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Purchasing/StoreKit1/ProductsFetcherSK1.swift
  Tests/StoreKitUnitTests/CachingProductsManagerTests.swift
Labels: test

#2879 `CustomEntitlementComputation`: use custom API key
  Tests/BackendIntegrationTests/Constants.swift
  Tests/BackendIntegrationTests/CustomEntitlementsComputationIntegrationTests.swift
  Tests/InstallationTests/SPMCustomEntitlementComputationInstallation/InstallationTests.swift
  fastlane/Fastfile
Labels: test

#2897 `StoreProduct`: added test covering warning log
  Tests/StoreKitUnitTests/StoreProductTests.swift
Labels: refactor

#2888 `Logging`: log entire cache key with verbose logs
  Sources/FoundationExtensions/OperationQueue+Extensions.swift
  Sources/Logging/Strings/NetworkStrings.swift
Labels: refactor

#2899 `Paywalls`: added "features" to `LocalizedConfiguration`
  RevenueCatUI/Data/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Helpers/PaywallData+Default.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/Templates/PaywallViewLocalizationTests.swift
  Tests/UnitTests/Networking/Responses/Fixtures/Offerings.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2900 `Paywalls`: changed `subtitle` to be optional
  RevenueCatUI/Data/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Templates/MultiPackageBoldTemplate.swift
  RevenueCatUI/Templates/SinglePackageStandardTemplate.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/UnitTests/Networking/Responses/Fixtures/Offerings.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#2901 `Paywalls`: extracted intro eligibility out of templates
  RevenueCatUI/Data/IntroEligibilityViewModel.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/MultiPackageBoldTemplate.swift
  RevenueCatUI/Templates/SinglePackageStandardTemplate.swift
  RevenueCatUI/Templates/TemplateViewType.swift
Labels: refactor, RevenueCatUI

#2902 `Paywalls`: one package with features template
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Modifiers/ViewExtensions.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/MultiPackageBoldTemplate.swift
  RevenueCatUI/Templates/OnePackageStandardTemplate.swift
  RevenueCatUI/Templates/OnePackageWithFeaturesTemplate.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/Views/DebugErrorView.swift
  RevenueCatUI/Views/FooterView.swift
  Sources/Paywalls/PaywallTemplate.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/Templates/OnePackageWithFeaturesPaywallViewTests.swift
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageWithFeaturesPaywallViewTests/iOS16-testSamplePaywall.1.png
Labels: refactor, RevenueCatUI

#2907 `Paywalls`: added sample paywalls to `SimpleApp`
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/AppContentView.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#2906 `Integration Tests`: new test to verify that SK1 purchases don't leave SK2 unfinished transactions
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
Labels: test

#2913 `PrivacyInfo.xcprivacy`: added `UserDefaults` to access API types
  Sources/PrivacyInfo.xcprivacy
Labels: docs

#2915 `Paywalls`: fixed tappable area for a couple of buttons
  RevenueCatUI/Templates/MultiPackageBoldTemplate.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#2918 `Paywalls`: work around SwiftUI bug to allow embedding `PaywallView` inside `NavigationStack`
  RevenueCatUI/PaywallView.swift
Labels: refactor, RevenueCatUI

#2919 `Paywalls`: SimpleApp reads API key from Xcode Cloud environment
  Tests/TestingApps/SimpleApp/SimpleApp/Configuration.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SimpleApp.swift
  Tests/TestingApps/SimpleApp/ci_scripts/ci_pre_xcodebuild.sh
Labels: ci, RevenueCatUI

#2922 `Paywalls`: removed "couldn't find package" log
  RevenueCatUI/Data/TemplateViewConfiguration.swift
Labels: refactor, RevenueCatUI

#2925 `Paywalls`: pre-warm intro eligibility in background thread
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Support/FrameworkDisambiguation.swift
Labels: refactor, RevenueCatUI

#2927 `Paywalls`: added a few more logs
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Logger.swift
  RevenueCatUI/View+PresentPaywall.swift
Labels: refactor, RevenueCatUI

#2928 `Paywalls`: added default template to `SamplePaywallsList`
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#2929 `Paywalls`: fixed `LoadingPaywallView` displaying a progress view
  RevenueCatUI/Views/LoadingPaywallView.swift
  RevenueCatUI/Views/PackageButtonStyle.swift
Labels: refactor, RevenueCatUI
