Repository RevenueCat/purchases-ios, pull requests merged in 2023-08, with the labels that each got.

#2945 `Paywalls`: extracted `TemplateBackgroundImageView`
  RevenueCatUI/Templates/MultiPackageBoldTemplate.swift
  RevenueCatUI/Views/TemplateBackgroundImageView.swift
Labels: refactor, RevenueCatUI

#2950 `Paywalls`: updated offerings snapshot with new asset base URL
  Tests/BackendIntegrationTests/__Snapshots__/StoreKitIntegrationTests/testCanGetOfferings.1.json
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
Labels: refactor, RevenueCatUI

#2946 `Paywalls`: improved `IntroEligibilityStateView` to avoid layout changes
  RevenueCatUI/Views/IntroEligibilityStateView.swift
Labels: refactor, RevenueCatUI

#2947 `Paywalls`: fixed `View.scrollableIfNecessary`
  RevenueCatUI/Modifiers/ViewExtensions.swift
Labels: refactor, RevenueCatUI

#2951 `Paywalls`: fixed `FooterView` color in template 1
  RevenueCatUI/Templates/OnePackageStandardTemplate.swift
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywallWithIneligibleIntroOffer.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywallWithIntroOffer.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywallWithLoadingEligibility.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility1.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility3.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility5.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testLarge.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testMedium.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testSmall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXLarge.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXSmall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXLarge.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXXLarge.1.png
Labels: refactor, RevenueCatUI

#2912 `Offering`: improved description
  Sources/Purchasing/Offering.swift
Labels: refactor

#2943 `Paywalls`: added ability to calculate and localize subscription discounts
  RevenueCatUI/Data/Localization.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Resources/en.lproj/Localizable.strings
  RevenueCatUI/Resources/es.lproj/Localizable.strings
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
  Tests/RevenueCatUITests/LocalizationTests.swift
Labels: refactor, RevenueCatUI

#2938 `Paywalls`: added ability to preview templates in a `.sheet`
  RevenueCatUI/Helpers/PreviewHelpers.swift
Labels: refactor, RevenueCatUI

#2940 `Paywalls`: removed `mode` parameter from `presentPaywallIfNecessary`
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/View+PresentPaywall.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewAPI.swift
Labels: refactor, RevenueCatUI

#2942 `Paywalls`: new `subscription_duration` variable
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
Labels: refactor, RevenueCatUI

#2936 `Paywalls`: fixed header image mask on first template
  RevenueCatUI/Modifiers/FitToAspectRatio.swift
  RevenueCatUI/Modifiers/ViewExtensions.swift
  RevenueCatUI/Templates/OnePackageStandardTemplate.swift
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywallWithIneligibleIntroOffer.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywallWithIntroOffer.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageStandardPaywallViewTests/iOS16-testSamplePaywallWithLoadingEligibility.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility1.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility3.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testAccessibility5.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testLarge.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testMedium.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testSmall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXLarge.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXSmall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXLarge.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewDynamicTypeTests/iOS16-testXXXLarge.1.png
Labels: refactor, RevenueCatUI

#2937 `Paywalls`: changed `SamplePaywallsList` to work offline
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SimpleApp.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/AppContentView.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#2941 `Paywalls`: added support for custom and lifetime products
  RevenueCatUI/Data/Localization.swift
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  RevenueCatUI/Resources/en.lproj/Localizable.strings
  RevenueCatUI/Resources/es.lproj/Localizable.strings
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/LocalizationTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
Labels: refactor, RevenueCatUI

#2953 `Paywalls`: `presentPaywallIfNecessary` -> `presentPaywallIfNeeded`
  RevenueCatUI/View+PresentPaywall.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewAPI.swift
  Tests/RevenueCatUITests/PresentIfNeededTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/AppContentView.swift
Labels: refactor, RevenueCatUI

#2934 `Paywalls`: UIKit `PaywallViewController`
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/UIKit/PaywallViewController.swift
  Tests/APITesters/RevenueCatUIAPITester/RevenueCatUISwiftAPITester.xcodeproj/project.pbxproj
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewAPI.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
Labels: refactor, RevenueCatUI

#2958 `Paywalls`: fix crash when computing localization with duplicate packages
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Templates/MultiPackageBoldTemplate.swift
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
Labels: refactor, RevenueCatUI

#2957 `SK1StoreProduct`: changed `productType` warning to debug
  Sources/Purchasing/StoreKitAbstractions/SK1StoreProduct.swift
  Tests/StoreKitUnitTests/StoreProductTests.swift
Labels: refactor

#2956 `Paywalls`: fixed `tvOS` compilation by making it explicitly unavailable
  RevenueCatUI/Helpers/PaywallData+Default.swift
  RevenueCatUI/Helpers/PreviewHelpers.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/MultiPackageBoldTemplate.swift
  RevenueCatUI/Templates/OnePackageStandardTemplate.swift
  RevenueCatUI/Templates/OnePackageWithFeaturesTemplate.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/Views/LoadingPaywallView.swift
  RevenueCatUI/Views/PurchaseButton.swift
Labels: refactor, RevenueCatUI

#2959 `Paywalls`: added support for `PackageType.custom`
  RevenueCatUI/Data/Errors/TemplateError.swift
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Helpers/PaywallData+Default.swift
  Sources/Paywalls/PaywallData.swift
  Sources/Purchasing/Package.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/APITesters/ObjCAPITester/ObjCAPITester/RCPackageAPI.m
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PackageAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
  Tests/RevenueCatUITests/Templates/PaywallViewLocalizationTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
  Tests/UnitTests/Networking/Responses/Fixtures/Offerings.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
  Tests/UnitTests/Purchasing/OfferingsTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetOfferingsTests.swift
Labels: refactor, RevenueCatUI

#2962 `Paywalls`: updated icon set to match frontend
  RevenueCatUI/Resources/icons.xcassets/key.imageset/Contents.json
  RevenueCatUI/Resources/icons.xcassets/key.imageset/vpn_key.svg
  RevenueCatUI/Resources/icons.xcassets/notification.imageset/Contents.json
  RevenueCatUI/Resources/icons.xcassets/notification.imageset/notifications.svg
  RevenueCatUI/Views/IconView.swift
Labels: refactor, RevenueCatUI

#2969 `Paywalls`: fixed template 3 icon aspect ratio
  RevenueCatUI/Templates/OnePackageWithFeaturesTemplate.swift
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageWithFeaturesPaywallViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OnePackageWithFeaturesPaywallViewTests/iOS17-testSamplePaywall.1.png
Labels: refactor, RevenueCatUI

#2968 `AdServices`: Rename `postAdServicesTokenIfNeeded()` to `postAdServicesTokenOncePerInstallIfNeeded()`
  Sources/Attribution/AttributionPoster.swift
  Sources/Purchasing/Purchases/Attribution.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Attribution/AttributionPosterTests.swift
Labels: refactor

#2972 `Paywalls`: added JSON debug screen to `debugRevenueCatOverlay`
  Sources/Paywalls/PaywallColor.swift
  Sources/Paywalls/PaywallData.swift
  Sources/Support/DebugUI/DebugContentViews.swift
Labels: refactor, RevenueCatUI

#2974 `Paywalls`: added links to documentation
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PurchaseCompleted.swift
  Sources/Paywalls/PaywallData.swift
Labels: docs, RevenueCatUI

#2976 `IntroEligibility`: changed products to `Set<String>`
  Sources/Networking/OfferingsAPI.swift
  Sources/Networking/Operations/GetIntroEligibilityOperation.swift
  Sources/Purchasing/CachingTrialOrIntroPriceEligibilityChecker.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/TrialOrIntroPriceEligibilityChecker.swift
  Tests/StoreKitUnitTests/TrialOrIntroPriceEligibilityCheckerSK1Tests.swift
  Tests/StoreKitUnitTests/TrialOrIntroPriceEligibilityCheckerSK2Tests.swift
  Tests/UnitTests/Mocks/MockOfferingsAPI.swift
  Tests/UnitTests/Mocks/MockTrialOrIntroPriceEligibilityChecker.swift
  Tests/UnitTests/Networking/Backend/BackendGetIntroEligibilityTests.swift
  Tests/UnitTests/Purchasing/CachingTrialOrIntroPriceEligibilityCheckerTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
Labels: refactor

#2977 `Paywalls`: extracted `PaywallCacheWarming`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Logging/Strings/EligibilityStrings.swift
  Sources/Paywalls/PaywallCacheWarming.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Mocks/MockPaywallCacheWarming.swift
  Tests/UnitTests/Paywalls/PaywallCacheWarmingTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetOfferingsTests.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
Labels: refactor, RevenueCatUI

#2911 Created `PostedTransactionCache`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Caching/DeviceCache.swift
  Sources/Caching/PostedTransactionCache.swift
  Tests/UnitTests/Caching/PostedTransactionCacheTests.swift
  Tests/UnitTests/Mocks/MockDeviceCache.swift
Labels: refactor, PostReceipt optimizations

#2905 `Integration Tests`: added more observer mode tests
  RevenueCat.xcodeproj/project.pbxproj
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/Helpers/ExternalPurchasesManager.swift
  Tests/BackendIntegrationTests/Helpers/ObserverModeManager.swift
  Tests/BackendIntegrationTests/Helpers/SK1ProductFetcher.swift
  Tests/BackendIntegrationTests/Helpers/SK2ProductFetcher.swift
  Tests/BackendIntegrationTests/StoreKitObserverModeIntegrationTests.swift
Labels: test, PostReceipt optimizations

#2890 `PurchasesOrchestrator`: disambiguate transactions from the queue
  RevenueCat.xcodeproj/project.pbxproj
  Sources/LocalReceiptParsing/Helpers/ReceiptStrings.swift
  Sources/Logging/Strings/PurchaseStrings.swift
  Sources/Misc/Deprecations.swift
  Sources/Networking/Operations/PostReceiptDataOperation.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/StoreKitAbstractions/SK1StoreTransaction.swift
  Sources/Purchasing/StoreKitAbstractions/SK2StoreTransaction.swift
  Sources/Purchasing/StoreKitAbstractions/StoreTransaction.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/StoreTransactionTests.swift
  Tests/UnitTests/Mocks/MockOperationDispatcher.swift
  Tests/UnitTests/Mocks/MockPayment.swift
  Tests/UnitTests/Mocks/MockStoreTransaction.swift
  Tests/UnitTests/Mocks/MockTransaction.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesPurchasingTests.swift
  Tests/UnitTests/TestHelpers/TestLogHandler.swift
Labels: fix, PostReceipt optimizations

#2909 `StoreKit2TransactionListener`: converted into an `actor`
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/StoreKit2/StoreKit2TransactionListener.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2TransactionListenerTests.swift
  Tests/UnitTests/Mocks/MockStoreKit2TransactionListener.swift
  Tests/UnitTests/Mocks/MockStoreKit2TransactionListenerDelegate.swift
Labels: refactor

#2910 `StoreKit2TransactionListener`: handle transactions asynchronously
  Sources/FoundationExtensions/AsyncExtensions.swift
  Sources/Purchasing/StoreKit2/StoreKit2StorefrontListener.swift
  Sources/Purchasing/StoreKit2/StoreKit2TransactionListener.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2TransactionListenerTests.swift
  Tests/UnitTests/Mocks/MockStoreKit2TransactionListenerDelegate.swift
Labels: perf, PostReceipt optimizations

#2904 `Logging`: avoid logging "updating offerings" when request is cached
  Sources/Networking/OfferingsAPI.swift
  Sources/Purchasing/OfferingsManager.swift
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/UnitTests/Mocks/MockOfferingsAPI.swift
  Tests/UnitTests/Networking/Backend/BackendGetOfferingsTests.swift
  Tests/UnitTests/Purchasing/OfferingsManagerTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
Labels: refactor

#2982 `Paywalls`: improved template 2 unselected packages
  RevenueCatUI/Templates/Template2View.swift
Labels: refactor, RevenueCatUI

#2979 `CachingProductsManager`: avoid crash when caching different products with same identifier
  Sources/Purchasing/CachingProductsManager.swift
Labels: fix

#2985 `Paywalls`: retry test failures
  fastlane/Fastfile
Labels: test, ci, RevenueCatUI

#2989 `visionOS`: support for `Xcode 15 beta 6`
  Package.swift
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Attribution/AttributionFetcher.swift
  Sources/FoundationExtensions/UIApplication+RCExtensions.swift
  Sources/Misc/Concurrency/Purchases+async.swift
  Sources/Misc/Concurrency/Purchases+nonasync.swift
  Sources/Misc/SystemInfo.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Sources/Purchasing/StoreKit1/PaymentQueueWrapper.swift
  Sources/Purchasing/StoreKit1/StoreKit1Wrapper.swift
  Sources/Purchasing/StoreKit2/SK2BeginRefundRequestHelper.swift
  Sources/Support/BeginRefundRequestHelper.swift
  Sources/Support/DebugUI/DebugContentViews.swift
  Sources/Support/DebugUI/DebugView.swift
  Sources/Support/DebugUI/DebugViewController.swift
  Sources/Support/DebugUI/DebugViewModel.swift
  Sources/Support/DebugUI/DebugViewSheetPresentation.swift
  Sources/Support/ManageSubscriptionsHelper.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/OtherAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PurchasesAPI.swift
  Tests/StoreKitUnitTests/BeginRefundRequestHelperTests.swift
  Tests/StoreKitUnitTests/ManageSubscriptionsHelperTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/Support/DebugViewSwiftUITests.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/PurchaseTester.xcodeproj/project.pbxproj
  Tests/UnitTests/Attribution/AttributionPosterTests.swift
  Tests/UnitTests/Misc/SystemInfoTests.swift
  Tests/UnitTests/Mocks/MockBeginRefundRequestHelper.swift
  Tests/UnitTests/Mocks/MockManageSubscriptionsHelper.swift
  Tests/UnitTests/Mocks/MockPaymentQueue.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
  Tests/UnitTests/Mocks/MockSK2BeginRefundRequestHelper.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesDelegateTests.swift
  Tests/UnitTests/Purchasing/StoreKit1WrapperTests.swift
Labels: fix, iOS 17, xrOS

#2987 `Paywalls`: fixed horizontal padding on template 1
  RevenueCatUI/Templates/Template1View.swift
Labels: refactor, RevenueCatUI

#2984 `Paywalls`: improved variable warning
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Data/Variables.swift
Labels: refactor, RevenueCatUI

#2991 `Paywalls`: prevent multiple concurrent purchases
  RevenueCatUI/Views/PurchaseButton.swift
Labels: refactor, RevenueCatUI

#2990 `CI`: add `visionOS` build
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/README.md
Labels: ci

#2986 `HTTPClient`: extracted `HTTPRequestPath` protocol
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Error Handling/ErrorUtils.swift
  Sources/Logging/Strings/NetworkStrings.swift
  Sources/Misc/SystemInfo.swift
  Sources/Networking/HTTPClient/HTTPClient.swift
  Sources/Networking/HTTPClient/HTTPRequest.swift
  Sources/Networking/HTTPClient/HTTPRequestPath.swift
  Sources/Networking/HTTPClient/NetworkError.swift
  Sources/Security/Signing.swift
  Tests/BackendIntegrationTests/LoadShedderIntegrationTests.swift
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
  Tests/UnitTests/Misc/PurchasesDiagnosticsTests.swift
  Tests/UnitTests/Misc/SystemInfoTests.swift
  Tests/UnitTests/Mocks/MockHTTPClient.swift
  Tests/UnitTests/Networking/Backend/BackendGetCustomerInfoTests.swift
  Tests/UnitTests/Networking/Backend/BackendPostReceiptDataTests.swift
  Tests/UnitTests/Networking/Backend/BackendSignatureVerificationTests.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Networking/HTTPRequestTests.swift
  Tests/UnitTests/Networking/NetworkErrorTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesConfiguringTests.swift
  Tests/UnitTests/Security/SigningTests.swift
Labels: refactor

#2999 `Custom Entitlement Computation`: fixed `visionOS` build
  Package.swift
Labels: refactor

#3000 `Integration Tests`: test for `SignatureVerificationMode.informational` and receipt posting when fetching `CustomerInfo`
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
Labels: test

#2954 `CustomerInfoManager`: post transactions in parallel to POST receipts only once
  Sources/FoundationExtensions/OperationQueue+Extensions.swift
  Sources/Identity/CustomerInfoManager.swift
  Sources/Logging/Strings/CustomerInfoStrings.swift
  Sources/Logging/Strings/NetworkStrings.swift
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitObserverModeIntegrationTests.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2TransactionListenerTests.swift
  Tests/StoreKitUnitTests/TestHelpers/StoreKitConfigTestCase+Extensions.swift
  Tests/UnitTests/Identity/CustomerInfoManagerPostReceiptTests.swift
  Tests/UnitTests/Mocks/MockTransactionPoster.swift
  Tests/UnitTests/TestHelpers/AsyncTestHelpers.swift
  Tests/UnitTests/TestHelpers/TestLogHandler.swift
Labels: perf, PostReceipt optimizations

#3008 `Integration Tests`: added tests for non-renewing and non-consumable packages
  Sources/Identity/CustomerInfo.swift
  Sources/Purchasing/NonSubscriptionTransaction.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/__Snapshots__/StoreKitIntegrationTests/testCanGetOfferings.1.json
  Tests/TestingApps/PurchaseTester/RevenueCat_IntegrationPurchaseTesterConfiguration.storekit
Labels: test

#3009 Added `internal` `NonSubscriptionTransaction.storeTransactionIdentifier`
  Sources/Networking/Responses/CustomerInfoResponse.swift
  Sources/Purchasing/NonSubscriptionTransaction.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/UnitTests/Networking/Responses/CustomerInfoDecodingTests.swift
  Tests/UnitTests/Networking/Responses/Fixtures/CustomerInfo.json
  Tests/UnitTests/Networking/Responses/__Snapshots__/CustomerInfoDecodingTests/testEncoding.1.json
  Tests/UnitTests/Networking/Responses/__Snapshots__/CustomerInfoDecodingTests/testEncodingWithFailedVerificationResponse.1.json
  Tests/UnitTests/Networking/Responses/__Snapshots__/CustomerInfoDecodingTests/testEncodingWithVerifiedResponse.1.json
  Tests/UnitTests/Purchasing/CustomerInfoTests.swift
  Tests/UnitTests/Purchasing/TransactionsFactoryTests.swift
Labels: refactor

#3010 `SwiftLint`: disable `unneeded_synthesized_initializer`
  .swiftlint.yml
Labels: refactor

#3013 `Integration Tests`: add tests to verify `CustomerInfo`+`Offerings` request de-dupping
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
Labels: test, PostReceipt optimizations

#3015 `Integration Tests`: begin tests with `UIApplication.willEnterForegroundNotification` to simulate a real app
  Sources/Logging/Strings/NetworkStrings.swift
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
  Tests/TestingApps/PurchaseTester/RevenueCat_IntegrationPurchaseTesterConfiguration.storekit
Labels: test, PostReceipt optimizations

#3011 `Paywalls`: tweaking colors on template 2&3
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Helpers/PreviewHelpers.swift
  RevenueCatUI/Templates/Template2View.swift
  RevenueCatUI/Templates/Template3View.swift
  Tests/RevenueCatUITests/Templates/Template3ViewTests.swift
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testDefaultDarkModePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testDefaultPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testLoadingCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testLoadingPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testDefaultDarkModePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testDefaultPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testLoadingCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testLoadingPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewLocalizationTests/iOS16-testSpanish.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewLocalizationTests/iOS17-testSpanish.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testCustomFont.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testCustomFont.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS16-testCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS16-testCondensedCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS16-testCustomFont.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS17-testCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS17-testCondensedCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS17-testCustomFont.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS17-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS17-testSamplePaywall.1.png
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
Labels: refactor, RevenueCatUI

#2841 `TransactionPoster`: don't finish transactions for non-subscriptions if they're not processed
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Identity/CustomerInfo+NonSubscriptions.swift
  Sources/Logging/Strings/PurchaseStrings.swift
  Sources/Misc/Deprecations.swift
  Sources/Purchasing/Purchases/TransactionPoster.swift
  Sources/Purchasing/StoreKitAbstractions/SK1StoreTransaction.swift
  Sources/Purchasing/StoreKitAbstractions/SK2StoreTransaction.swift
  Sources/Purchasing/StoreKitAbstractions/StoreTransaction.swift
  Sources/Support/FrameworkDisambiguation.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/StoreTransactionTests.swift
  Tests/UnitTests/Mocks/MockStoreTransaction.swift
  Tests/UnitTests/Purchasing/Purchases/TransactionPosterTests.swift
Labels: fix, PostReceipt optimizations

#3014 `SystemInfo`: added `ClockType`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Misc/DateAndTime/Clock.swift
  Sources/Misc/DateAndTime/TimingUtil.swift
  Sources/Misc/SystemInfo.swift
  Sources/Networking/Backend.swift
  Sources/Purchasing/ReceiptFetcher.swift
  Tests/UnitTests/Mocks/MockSystemInfo.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/Purchasing/ReceiptFetcherTests.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
Labels: refactor

#3018 `TransactionPoster`: fix iOS 12 test
  Tests/UnitTests/Purchasing/Purchases/TransactionPosterTests.swift
Labels: test

#3027 `Paywalls`: fixed `total_price_and_per_month` for custom monthly packages
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
Labels: refactor, RevenueCatUI

#3026 `TransactionPoster`: added transaction ID and Date to log
  Sources/Logging/Strings/PurchaseStrings.swift
  Sources/Purchasing/Purchases/TransactionPoster.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
Labels: refactor

#3022 `GitHub`: improved `ISSUE_TEMPLATE`
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: refactor

#3025 `Integration Tests`: improved `testCanPurchaseMultipleSubscriptions`
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
Labels: test

#3028 `PurchasesOrchestrator`: fixed callback not invoked regression during downgrades
  Sources/Logging/Strings/PurchaseStrings.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesPurchasingTests.swift
Labels: fix

#3030 `PostedTransactionCache`: remove implementation
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Caching/PostedTransactionCache.swift
  Tests/UnitTests/Caching/PostedTransactionCacheTests.swift
Labels: refactor

#3034 `Xcode 15`: fixed release build
  .circleci/config.yml
  Sources/Purchasing/Purchases/Purchases.swift
Labels: fix, iOS 17

#3041 `HTTPClient`: also parse errors with `application/json;charset=utf8`
  Sources/Networking/HTTPClient/HTTPClient.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
Labels: refactor

#3029 `Tests`: added tests for `ClockType`
  Sources/Misc/DateAndTime/Clock.swift
  Tests/UnitTests/Misc/ClockTests.swift
Labels: test

#3053 `Paywalls`: internal documentation for implementing templates
  RevenueCatUI/Templates/TemplateViewType.swift
Labels: docs, RevenueCatUI

#3044 `Paywalls`: changed `total_price_and_per_month` to include period
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  Tests/RevenueCatUITests/Data/PackageVariablesTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS15-testDefaultDarkModePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS15-testDefaultPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS15-testLoadingCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS15-testLoadingCondensedCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS15-testLoadingPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testDefaultDarkModePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testDefaultPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testLoadingCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testLoadingCondensedCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testLoadingPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testDefaultDarkModePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testDefaultPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testLoadingCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testLoadingCondensedCardPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testLoadingPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewLocalizationTests/iOS16-testSpanish.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/PaywallViewLocalizationTests/iOS17-testSpanish.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS15-testCustomFont.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS15-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS15-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testCondensedCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testCustomFont.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testPurchasingState.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testSamplePaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testCondensedCardPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testCustomFont.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testDarkMode.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testPurchasingState.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testSamplePaywall.1.png
Labels: refactor, RevenueCatUI

#3049 `Paywalls`: rename card to footer
  RevenueCatUI/Data/PaywallViewMode+Extensions.swift
  RevenueCatUI/Helpers/PreviewHelpers.swift
  RevenueCatUI/Modifiers/FooterHidingModifier.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Template2View.swift
  RevenueCatUI/Templates/Template4View.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/Views/PurchaseButton.swift
  RevenueCatUI/Views/TemplateBackgroundImageView.swift
  Sources/Paywalls/PaywallViewMode.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/RevenueCatUITests/Templates/OtherPaywallViewTests.swift
  Tests/RevenueCatUITests/Templates/Template1ViewTests.swift
  Tests/RevenueCatUITests/Templates/Template2ViewTests.swift
  Tests/RevenueCatUITests/Templates/Template3ViewTests.swift
  Tests/RevenueCatUITests/Templates/Template4ViewTests.swift
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS15-testLoadingCondensedFooterPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS15-testLoadingFooterPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testLoadingCondensedFooterPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS16-testLoadingFooterPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testLoadingCondensedFooterPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/OtherPaywallViewTests/iOS17-testLoadingFooterPaywallView.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template1ViewTests/iOS15-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template1ViewTests/iOS15-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template1ViewTests/iOS16-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template1ViewTests/iOS16-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template1ViewTests/iOS17-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template1ViewTests/iOS17-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS15-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS15-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS16-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template2ViewTests/iOS17-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS15-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS15-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS16-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS16-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS17-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template3ViewTests/iOS17-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template4ViewTests/iOS15-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template4ViewTests/iOS15-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template4ViewTests/iOS16-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template4ViewTests/iOS16-testFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template4ViewTests/iOS17-testCondensedFooterPaywall.1.png
  Tests/RevenueCatUITests/Templates/__Snapshots__/Template4ViewTests/iOS17-testFooterPaywall.1.png
  Tests/TestingApps/SimpleApp/SimpleApp/Views/CustomPaywall.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#3045 `StoreKit 2`: added warning to paywall constructors
  Sources/Support/PaywallExtensions.swift
Labels: docs

#3042 `visionOS`: changed CI job to Release
  fastlane/Fastfile
Labels: test, ci, xrOS

#3051 `Paywalls`: new `PaywallFooterView` to replace `modes`
  RevenueCatUI/Data/Constants.swift
  RevenueCatUI/Modifiers/FooterHidingModifier.swift
  RevenueCatUI/Modifiers/ViewExtensions.swift
  RevenueCatUI/PaywallFooterView.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Template2View.swift
  RevenueCatUI/Templates/Template4View.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
  RevenueCatUI/Views/FooterView.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewAPI.swift
  Tests/RevenueCatUITests/PaywallFooterTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/CustomPaywall.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#3064 `Paywalls`: removed unnecessary `PaywallFooterView`
  RevenueCatUI/PaywallFooterView.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
Labels: refactor, RevenueCatUI

#3055 `Paywalls`: add support for generating snapshots on CI
  .circleci/config.yml
  .swiftpm/xcode/xcshareddata/xcschemes/RevenueCatUI.xcscheme
  Tests/RevenueCatUITests/Helpers/TestCase.swift
  Tests/RevenueCatUITests/TestPlans/CI-RevenueCatUI.xctestplan
  Tests/RevenueCatUITests/TestPlans/CI-Snapshots.xctestplan
  Tests/RevenueCatUITests/TestPlans/RevenueCatUI.xctestplan
  fastlane/Fastfile
  fastlane/README.md
Labels: ci, RevenueCatUI

#3075 `Paywalls`: only dismiss `PaywallView` when explicitly presenting it with `.presentPaywallIfNeeded`
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/Views/PurchaseButton.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#3046 `Paywalls`: handle already purchased state
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Helpers/PreviewHelpers.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
  RevenueCatUI/Views/LoadingPaywallView.swift
  RevenueCatUI/Views/PurchaseButton.swift
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
  Tests/RevenueCatUITests/PaywallFooterTests.swift
  Tests/RevenueCatUITests/PurchaseCompletedHandlerTests.swift
  Tests/RevenueCatUITests/Templates/OtherPaywallViewTests.swift
  Tests/RevenueCatUITests/Templates/PaywallViewDynamicTypeTests.swift
  Tests/RevenueCatUITests/Templates/PaywallViewLocalizationTests.swift
  Tests/RevenueCatUITests/Templates/Template1ViewTests.swift
  Tests/RevenueCatUITests/Templates/Template2ViewTests.swift
  Tests/RevenueCatUITests/Templates/Template3ViewTests.swift
  Tests/RevenueCatUITests/Templates/Template4ViewTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/CustomPaywall.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SamplePaywallsList.swift
Labels: refactor, RevenueCatUI

#3079 `Paywalls`: improved unselected package background color
  RevenueCatUI/Data/PaywallViewMode+Extensions.swift
  RevenueCatUI/Data/TemplateViewConfiguration+Images.swift
  RevenueCatUI/Templates/Template2View.swift
  RevenueCatUI/Views/TemplateBackgroundImageView.swift
Labels: refactor, RevenueCatUI

#3086 `Integration Tests`: fixed race condition in flaky test
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/TestHelpers/StoreKitTestHelpers.swift
Labels: test

#3081 `CustomerInfo`: add `VerificationResult` to `description`
  Sources/Identity/CustomerInfo.swift
Labels: refactor

#3068 `Paywalls`: avoid warming up cache multiple times
  Sources/Misc/Concurrency/OperationDispatcher.swift
  Sources/Paywalls/PaywallCacheWarming.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Products.storekit
  Tests/UnitTests/Paywalls/PaywallCacheWarmingTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetOfferingsTests.swift
Labels: refactor, RevenueCatUI

#3089 `Paywalls`: improved test custom paywall
  Tests/TestingApps/SimpleApp/SimpleApp.xcodeproj/project.pbxproj
  Tests/TestingApps/SimpleApp/SimpleApp/Assets.xcassets/cat-picture.imageset/Contents.json
  Tests/TestingApps/SimpleApp/SimpleApp/Assets.xcassets/cat-picture.imageset/Image.png
  Tests/TestingApps/SimpleApp/SimpleApp/Views/AppContentView.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/CustomPaywall.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/CustomPaywallContent.swift
  Tests/TestingApps/SimpleApp/SimpleApp/Views/SampleChart.swift
Labels: refactor, RevenueCatUI

#3104 `Paywalls`: fixed iOS 12 build
  .circleci/config.yml
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Paywalls/PaywallColor.swift
  Tests/StoreKitUnitTests/TestHelpers/ImageSnapshot.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
  Tests/UnitTests/TestHelpers/SnapshotTesting+Extensions.swift
Labels: refactor, RevenueCatUI

#3090 `CustomEntitlementComputation`: enable `restorePurchases` in public API
  Sources/Misc/Concurrency/Purchases+async.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/APITesters/CustomEntitlementComputationSwiftAPITester/SwiftAPITester/PurchasesAPI.swift
Labels: refactor

#3108 `Integration Tests`: workaround to not lose debug logs
  RevenueCat.xcodeproj/project.pbxproj
  Sources/FoundationExtensions/ProcessInfo+Extensions.swift
  Sources/LocalReceiptParsing/Helpers/LoggerType.swift
Labels: test

#3120 `Catalyst`: fixed a couple of Catalyst build warnings
  Sources/FoundationExtensions/UIApplication+RCExtensions.swift
  Sources/Paywalls/PaywallColor.swift
Labels: refactor

#3119 `CI`: add workaround for `Carthage` timing out
  fastlane/Fastfile
Labels: ci

#3067 `Purchases`: don't clear intro eligibility / purchased products cache on first launch
  Sources/Identity/CustomerInfoManager.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Identity/CustomerInfoManagerTests.swift
  Tests/UnitTests/Mocks/MockCustomerInfoManager.swift
  Tests/UnitTests/Mocks/MockPurchasesDelegate.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesConfiguringTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesLogInTests.swift
Labels: perf

#3123 `PurchasesOrchestrator`: return early if receipt has no transactions when checking for promo offers
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
Labels: perf

#3121 `Paywalls`: add support for CTA button gradients
  RevenueCatUI/Helpers/ColorInformation+MultiScheme.swift
  RevenueCatUI/Views/PurchaseButton.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#3116 `Paywalls`: update snapshot generation with new separate git repo
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/README.md
Labels: test, RevenueCatUI

#3130 `SPM`: update `Package.resolved`
  .circleci/config.yml
  Package@swift-5.6.swift
  RevenueCat.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: dependencies
