Repository RevenueCat/purchases-ios, pull requests merged in 2023-12, with the labels that each got.

#3480 Improve price per month accuracy for weekly subscriptions
  Sources/Purchasing/StoreKitAbstractions/SubscriptionPeriod.swift
  Tests/RevenueCatUITests/Data/PackageVariablesTests.swift
  Tests/UnitTests/Purchasing/StoreKitAbstractions/SubscriptionPeriodTests.swift
Labels: fix

#3492 Improve pricePerYear price calculation precision
  Sources/Purchasing/StoreKitAbstractions/SubscriptionPeriod.swift
  Tests/UnitTests/Purchasing/StoreKitAbstractions/SubscriptionPeriodTests.swift
Labels: fix

#3489 Paywalls: Improve Chinese localization
  RevenueCatUI/Resources/zh-Hans.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_HK.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_TW.lproj/Localizable.strings
Labels: RevenueCatUI

#3467 `Optimization`: changed `first` to `first(where:)`
  RevenueCatUI/Data/Localization.swift
  Sources/Paywalls/PaywallData+Localization.swift
Labels: refactor

#3496 `Paywalls`: use `HEIC` images
  Sources/Paywalls/PaywallData.swift
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedTemplateNameGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedTemplateNameGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInFeaturesGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInFeaturesGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywallWithSpanishLocalization-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywallWithSpanishLocalization.1.json
  Tests/UnitTests/Networking/Responses/Fixtures/Offerings.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-empty_images.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-missing_current_locale.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-missing_localization.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Paywalls/PaywallCacheWarmingTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: perf, RevenueCatUI

#3495 `Paywalls`: fix empty description when using `custom` package type and `{{ sub_period }}`
  RevenueCatUI/Data/Localization.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  RevenueCatUI/Templates/Template4View.swift
  Tests/RevenueCatUITests/Data/PackageVariablesTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/LocalizationTests.swift
Labels: RevenueCatUI

#3475 `Paywalls`: open Terms and Privacy Policy links in-app
  RevenueCatUI/Views/FooterView.swift
Labels: RevenueCatUI

#3512 Fix typo in zh-Hans localization of RevenueCatUI
  RevenueCatUI/Resources/zh-Hans.lproj/Localizable.strings
Labels: RevenueCatUI

#3513 `Paywalls`: fix compilation on Xcode < 14.3
  .circleci/config.yml
  RevenueCatUI/Modifiers/ViewExtensions.swift
Labels: fix, RevenueCatUI

#3500 `StoreProduct`: improve `priceFormatter` documentation
  Sources/Purchasing/StoreKitAbstractions/StoreProduct.swift
Labels: docs

#3508 `Paywalls`: open footer links on Safari on Catalyst
  RevenueCatUI/Views/FooterView.swift
Labels: RevenueCatUI

#3506 `CircleCI`: add git credentials to snapshot generation
  .circleci/config.yml
Labels: ci

#3507 `Paywalls`: change style of CTA button to be consistent with other platforms
  RevenueCatUI/Views/PurchaseButton.swift
Labels: RevenueCatUI

#3517 `Paywalls`: always dismiss paywalls automatically after a purchase
  RevenueCatUI/Modifiers/ViewExtensions.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Template4View.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/Views/LoadingPaywallView.swift
  Tests/RevenueCatUITests/Templates/OtherPaywallViewTests.swift
Labels: fix, RevenueCatUI

#3520 `Paywalls`: silence logs below `Purchases.logLevel`
  RevenueCatUI/Helpers/Logger.swift
Labels: RevenueCatUI

#3521 `Tests`: fix iOS 12 snapshot
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS12-testPostsSK2XcodeReceiptWithProductDataCorrectly.1.json
Labels: test

#3493 Paywalls: Add dismissal method in `PaywallViewControllerDelegate`
  RevenueCatUI/UIKit/PaywallViewController.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
Labels: RevenueCatUI

#3525 `Paywalls`: improve `FooterView` text alignment
  RevenueCatUI/Views/FooterView.swift
Labels: RevenueCatUI

#3524 `Paywalls`: ensure footer links open in full-screen sheets
  RevenueCatUI/Views/FooterView.swift
Labels: RevenueCatUI

#3486 `Paywalls`: add `PaywallFooterViewController`
  RevenueCatUI/UIKit/PaywallFooterViewController.swift
  RevenueCatUI/UIKit/PaywallViewController.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
Labels: RevenueCatUI

#3526 Fix `RevenueCatUI` snapshot tests
  .circleci/config.yml
  Package.swift
  RevenueCatUI/Data/UserInterfaceIdiom.swift
  RevenueCatUI/Views/ProgressView.swift
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Tests/UnitTests/TestHelpers/SnapshotTesting+Extensions.swift
  Tests/purchases-ios-snapshots-commit
Labels: test

#3531 `Paywalls Tester`: remove double close button
  Tests/TestingApps/PaywallsTester/PaywallsTester/Configuration.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/AppContentView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/OfferingsList.swift
Labels: test

#3530 `Paywalls`: fix `ColorInformation.multiScheme` on `watchOS`
  RevenueCatUI/Helpers/ColorInformation+MultiScheme.swift
Labels: RevenueCatUI

#3532 `Paywalls`: improve template 1 landscape layout
  RevenueCatUI/Templates/Template1View.swift
  Tests/RevenueCatUITests/Templates/Template1ViewTests.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3538 `CI`: Add architecture to cache keys
  .circleci/config.yml
Labels: ci

#3424 `Trusted Entitlements`: add support for signing request headers
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Networking/HTTPClient/HTTPClient.swift
  Sources/Security/HTTPRequest+Signing.swift
  Sources/Security/HTTPRequestBody+Signing.swift
  Sources/Security/Signing+ResponseVerification.swift
  Sources/Security/Signing.swift
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendGetCustomerInfoTests/iOS13-testSendsNonceWhenEnabled.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendGetCustomerInfoTests/iOS14-testSendsNonceWhenEnabled.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendGetCustomerInfoTests/iOS15-testSendsNonceWhenEnabled.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendGetCustomerInfoTests/iOS16-testSendsNonceWhenEnabled.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendGetCustomerInfoTests/iOS17-testSendsNonceWhenEnabled.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS13-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS13-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS14-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS14-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS15-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS15-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS16-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS16-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS17-testLoginWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendLoginTests/iOS17-testLoginWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS13-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS13-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS14-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS14-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS15-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS15-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS16-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS16-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS17-testGetsEntitlementsWithFailedVerification.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS17-testGetsEntitlementsWithVerifiedResponse.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS13-testRequestContainsSignatureHeader.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS13-testRequestFailsIfSignatureVerificationFails.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS14-testRequestContainsSignatureHeader.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS14-testRequestFailsIfSignatureVerificationFails.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS15-testRequestContainsSignatureHeader.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS15-testRequestFailsIfSignatureVerificationFails.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS16-testRequestContainsSignatureHeader.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS16-testRequestFailsIfSignatureVerificationFails.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS17-testRequestContainsSignatureHeader.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendSignatureVerificationTests/iOS17-testRequestFailsIfSignatureVerificationFails.1.json
  Tests/UnitTests/Networking/HTTPResponseTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
  Tests/UnitTests/Security/SigningTests.swift
Labels: blocked, refactor

#3536 Release/4.32.0-beta.1
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  RevenueCat.podspec
  RevenueCat.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RevenueCatUI.podspec
  Sources/Misc/SystemInfo.swift
  Tests/InstallationTests/CommonFiles/RevenueCat-Swift.h
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS12-testPostsJWSTokenWithProductDataCorrectly.1.json
  Tests/UnitTests/Networking/Backend/__Snapshots__/BackendPostReceiptDataTests/iOS12-testPostsSK2XcodeReceiptWithProductDataCorrectly.1.json
  scripts/docs/index.html
  scripts/docs/v4_api_migration_guide.html
Labels: next_release

#3537 `Paywalls`: fix template 5 footer loading view alignment
  RevenueCatUI/Templates/Template5View.swift
Labels: fix, RevenueCatUI

#3539 `.debugRevenueCatOverlay`: added `Locale`
  Sources/Support/DebugUI/DebugContentViews.swift
  Sources/Support/DebugUI/DebugViewModel.swift
  Tests/StoreKitUnitTests/Support/DebugViewSwiftUITests.swift
  Tests/StoreKitUnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS16-testDebugView.1.png
  Tests/StoreKitUnitTests/Support/__Snapshots__/DebugViewSwiftUITests/iOS17-testDebugView.1.png
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/OfferingsList.swift
Labels: refactor

#3505 `Trusted Entitlements`: tests for signature verification without header hash
  Sources/Logging/Strings/NetworkStrings.swift
  Sources/Misc/DangerousSettings.swift
  Sources/Networking/HTTPClient/HTTPClient.swift
  Sources/Security/HTTPRequest+Signing.swift
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/LoadShedderIntegrationTests.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
  Tests/UnitTests/Mocks/MockHTTPClient.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
  Tests/UnitTests/Networking/SignatureVerificationHTTPClientTests.swift
Labels: test

#3534 `Paywalls`: improve template 5 landscape layout
  RevenueCatUI/Templates/Template5View.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3542 `Paywalls`: add header image to `watchOS` paywalls
  RevenueCatUI/Templates/Other platforms/WatchTemplateView.swift
Labels: RevenueCatUI
