Repository RevenueCat/purchases-ios, pull requests merged in 2023-09, with the labels that each got.

#3129 `carthage_installation_tests`: optimize SPM package loading
  .circleci/config.yml
  Tests/InstallationTests/CarthageInstallation/fastlane/Fastfile
  fastlane/Fastfile
  fastlane/README.md
Labels: ci

#3134 `TestStoreProduct`: new `locale` parameter
  Sources/Misc/PriceFormatterProvider.swift
  Sources/Purchasing/StoreKitAbstractions/Test Data/TestStoreProduct.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/TestStoreProductAPI.swift
  Tests/StoreKitUnitTests/StoreProductTests.swift
Labels: feat

#3136 `Paywalls`: improved `{{ total_price_and_per_month }}` to include period
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/RevenueCatUITests/Data/PackageVariablesTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/purchases-ios-snapshots-commit
Labels: refactor, RevenueCatUI

#3137 `Debug`: add `Offering` metadata to debug screen
  Sources/Support/DebugUI/DebugContentViews.swift
Labels: refactor

#3139 `DebugViewModel`: fixed runtime crash on iOS < 16
  Sources/Support/DebugUI/DebugViewModel.swift
Labels: fix

#3144 `ReceiptParser`: fixed SPM build
  RevenueCat.xcodeproj/project.pbxproj
  Sources/LocalReceiptParsing/Helpers/ProcessInfo+Extensions.swift
Labels: refactor

#2421 `CircleCI`: change all jobs to use `Xcode 14.x` and replace `xcode-install` with `xcodes`
  .circleci/config.yml
  Brewfile
  Brewfile.lock.json
  Sources/Purchasing/StoreKit2/StoreKit2TransactionListener.swift
  fastlane/Fastfile
Labels: ci

#3147 `Xcode 13`: remove conditional code
  Package@swift-5.6.swift
  Sources/Identity/CustomerInfo.swift
  Sources/LocalReceiptParsing/BasicTypes/AppleReceipt.swift
  Sources/LocalReceiptParsing/BasicTypes/InAppPurchase.swift
  Sources/Misc/Concurrency/Lock.swift
  Sources/Misc/SystemInfo.swift
  Sources/Purchasing/CachingProductsManager.swift
  Sources/Purchasing/EntitlementInfo.swift
  Sources/Purchasing/NonSubscriptionTransaction.swift
  Sources/Purchasing/ProductsManager.swift
  Sources/Purchasing/StoreKit2/StoreKit2TransactionListener.swift
  Sources/Purchasing/StoreKitAbstractions/PromotionalOffer.swift
  Sources/Purchasing/StoreKitAbstractions/SK1StoreProduct.swift
  Sources/Purchasing/StoreKitAbstractions/SK1StoreProductDiscount.swift
  Sources/Purchasing/StoreKitAbstractions/SK1StoreTransaction.swift
  Sources/Purchasing/StoreKitAbstractions/SK1Storefront.swift
  Sources/Purchasing/StoreKitAbstractions/SK2StoreProduct.swift
  Sources/Purchasing/StoreKitAbstractions/SK2StoreProductDiscount.swift
  Sources/Purchasing/StoreKitAbstractions/SK2StoreTransaction.swift
  Sources/Purchasing/StoreKitAbstractions/SK2Storefront.swift
  Tests/UnitTests/Mocks/MockStoreTransaction.swift
Labels: refactor

#3151 `Paywalls`: add paywall for Load Shedder integration tests
  Tests/BackendIntegrationTests/__Snapshots__/LoadShedderIntegrationTests/testCanGetOfferings.1.json
Labels: test, RevenueCatUI

#3150 `PaywallData`: added `@NonEmptyString` to `subtitle` and `offerName`
  RevenueCatUI/Data/Strings.swift
  Sources/Paywalls/PaywallData.swift
  Tests/BackendIntegrationTests/__Snapshots__/LoadShedderIntegrationTests/testCanGetOfferings.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedTemplateNameGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInFeaturesGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywall.1.json
Labels: refactor, RevenueCatUI

#3154 Refactor: extract `HealthOperation`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Networking/InternalAPI.swift
  Sources/Networking/Operations/HealthOperation.swift
Labels: refactor

#3153 `Codable`: improved decoding errors
  Sources/FoundationExtensions/Decoder+Extensions.swift
  Sources/Logging/Strings/CodableStrings.swift
Labels: refactor

#3162 `Paywalls`: support fuzzy-Locale search in `iOS 15`
  RevenueCatUI/Helpers/PaywallData+Default.swift
  Sources/Paywalls/PaywallColor.swift
  Sources/Paywalls/PaywallData.swift
  Sources/Purchasing/StoreKitAbstractions/Test Data/TestStoreProduct.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/UnitTests/Paywalls/PaywallColorTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#3155 `Paywalls`: add `PaywallData.revision`
  RevenueCatUI/Helpers/PaywallData+Default.swift
  Sources/Misc/Codable/DefaultDecodable.swift
  Sources/Paywalls/PaywallData.swift
  Tests/BackendIntegrationTests/__Snapshots__/LoadShedderIntegrationTests/testCanGetOfferings.1.json
  Tests/BackendIntegrationTests/__Snapshots__/StoreKitIntegrationTests/testCanGetOfferings.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedTemplateNameGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInFeaturesGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywall.1.json
  Tests/UnitTests/Networking/Responses/Fixtures/Offerings.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#3163 `Integration Tests`: improve flaky tests
  Sources/Logging/Strings/NetworkStrings.swift
  Sources/Logging/Strings/OfflineEntitlementsStrings.swift
  Sources/Networking/HTTPClient/HTTPClient.swift
  Sources/OfflineEntitlements/OfflineCustomerInfoCreator.swift
  Tests/UnitTests/OfflineEntitlements/CustomerInfoResponseHandlerTests.swift
Labels: test

#3161 `Xcode 13`: removed last `Swift 5.7` checks
  Sources/Purchasing/CachingProductsManager.swift
  Sources/Purchasing/StoreKitAbstractions/SK2StoreProduct.swift
Labels: refactor

#3167 `Integration Tests`: fix flaky test failure due to leftover transaction
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
Labels: test

#3165 `Integration Tests`: another flaky failure
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/TestHelpers/StoreKitTestHelpers.swift
  Tests/UnitTests/TestHelpers/AsyncTestHelpers.swift
Labels: test

#3168 `OperationDispatcher`: add support for "long" delays
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Identity/CustomerInfoManager.swift
  Sources/Misc/Concurrency/OperationDispatcher.swift
  Sources/Networking/Backend.swift
  Sources/Networking/BackendConfiguration.swift
  Sources/Networking/CustomerAPI.swift
  Sources/Networking/InternalAPI.swift
  Sources/Networking/OfferingsAPI.swift
  Sources/Networking/OfflineEntitlementsAPI.swift
  Sources/OfflineEntitlements/OfflineEntitlementsManager.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Identity/CustomerInfoManagerPostReceiptTests.swift
  Tests/UnitTests/Identity/CustomerInfoManagerTests.swift
  Tests/UnitTests/Misc/OperationDispatcherTests.swift
  Tests/UnitTests/Mocks/MockBackend.swift
  Tests/UnitTests/Mocks/MockOfflineEntitlementsAPI.swift
  Tests/UnitTests/Mocks/MockOperationDispatcher.swift
  Tests/UnitTests/Networking/Backend/BackendGetCustomerInfoTests.swift
  Tests/UnitTests/Networking/Backend/BackendGetOfferingsTests.swift
  Tests/UnitTests/Networking/Backend/BackendOfflineEntitlementsTests.swift
  Tests/UnitTests/Networking/Backend/BackendPostReceiptDataTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
Labels: perf

#3166 `Xcode`: removed `purchases-ios` SPM reference
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCat.xcworkspace/xcshareddata/swiftpm/Package.resolved
  fastlane/Fastfile
Labels: build

#3172 `Paywalls`: fixed `FooterView` horizontal centering
  RevenueCatUI/Views/FooterView.swift
Labels: refactor, RevenueCatUI

#3171 `Paywalls`: improved `FooterView`
  RevenueCatUI/Data/Constants.swift
  RevenueCatUI/Templates/Template1View.swift
  RevenueCatUI/Templates/Template2View.swift
  RevenueCatUI/Templates/Template3View.swift
  RevenueCatUI/Views/FooterView.swift
  Tests/purchases-ios-snapshots-commit
Labels: refactor, RevenueCatUI

#3131 `Paywalls`: new `{{ sub_relative_discount }}` variable
  RevenueCatUI/Data/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  RevenueCatUI/Resources/ar.lproj/Localizable.strings
  RevenueCatUI/Resources/bg.lproj/Localizable.strings
  RevenueCatUI/Resources/ca.lproj/Localizable.strings
  RevenueCatUI/Resources/cs.lproj/Localizable.strings
  RevenueCatUI/Resources/da.lproj/Localizable.strings
  RevenueCatUI/Resources/de.lproj/Localizable.strings
  RevenueCatUI/Resources/el.lproj/Localizable.strings
  RevenueCatUI/Resources/en.lproj/Localizable.strings
  RevenueCatUI/Resources/en_AU.lproj/Localizable.strings
  RevenueCatUI/Resources/en_CA.lproj/Localizable.strings
  RevenueCatUI/Resources/en_GB.lproj/Localizable.strings
  RevenueCatUI/Resources/en_US.lproj/Localizable.strings
  RevenueCatUI/Resources/es_419.lproj/Localizable.strings
  RevenueCatUI/Resources/es_ES.lproj/Localizable.strings
  RevenueCatUI/Resources/fi.lproj/Localizable.strings
  RevenueCatUI/Resources/fr_CA.lproj/Localizable.strings
  RevenueCatUI/Resources/he.lproj/Localizable.strings
  RevenueCatUI/Resources/hi.lproj/Localizable.strings
  RevenueCatUI/Resources/hr.lproj/Localizable.strings
  RevenueCatUI/Resources/hu.lproj/Localizable.strings
  RevenueCatUI/Resources/id.lproj/Localizable.strings
  RevenueCatUI/Resources/it.lproj/Localizable.strings
  RevenueCatUI/Resources/ja.lproj/Localizable.strings
  RevenueCatUI/Resources/kk.lproj/Localizable.strings
  RevenueCatUI/Resources/ko.lproj/Localizable.strings
  RevenueCatUI/Resources/ms.lproj/Localizable.strings
  RevenueCatUI/Resources/nl.lproj/Localizable.strings
  RevenueCatUI/Resources/no.lproj/Localizable.strings
  RevenueCatUI/Resources/pl.lproj/Localizable.strings
  RevenueCatUI/Resources/pt_BR.lproj/Localizable.strings
  RevenueCatUI/Resources/pt_PT.lproj/Localizable.strings
  RevenueCatUI/Resources/ro.lproj/Localizable.strings
  RevenueCatUI/Resources/ru.lproj/Localizable.strings
  RevenueCatUI/Resources/sk.lproj/Localizable.strings
  RevenueCatUI/Resources/sv.lproj/Localizable.strings
  RevenueCatUI/Resources/th.lproj/Localizable.strings
  RevenueCatUI/Resources/tr.lproj/Localizable.strings
  RevenueCatUI/Resources/uk.lproj/Localizable.strings
  RevenueCatUI/Resources/vi.lproj/Localizable.strings
  RevenueCatUI/Resources/zh-Hans.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_HK.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_TW.lproj/Localizable.strings
  RevenueCatUI/Views/PurchaseButton.swift
  Tests/RevenueCatUITests/Data/PackageVariablesTests.swift
  Tests/RevenueCatUITests/Data/TemplateViewConfigurationTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/LocalizationTests.swift
Labels: refactor, RevenueCatUI

#3158 `Paywalls`: implemented `PostPaywallEventsOperation`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Networking/HTTPClient/HTTPRequest.swift
  Sources/Networking/HTTPClient/HTTPRequestPath.swift
  Sources/Networking/InternalAPI.swift
  Sources/Paywalls/Events/Networking/PaywallEventsRequest.swift
  Sources/Paywalls/Events/Networking/PaywallHTTPRequestPath.swift
  Sources/Paywalls/Events/Networking/PostPaywallEventsOperation.swift
  Tests/UnitTests/Mocks/MockInternalAPI.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsBackendTests.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsRequestTests.swift
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS15-testPostPaywallEventsWithMultipleEvents.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS15-testPostPaywallEventsWithOneEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS16-testPostPaywallEventsWithMultipleEvents.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS16-testPostPaywallEventsWithOneEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsRequestTests/testCancelEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsRequestTests/testCloseEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsRequestTests/testViewEvent.1.json
Labels: blocked, refactor, RevenueCatUI

#3159 `Paywalls`: created `PaywallEventsManager`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Logging/Strings/PaywallsStrings.swift
  Sources/Paywalls/Events/PaywallEventsManager.swift
  Tests/UnitTests/Mocks/MockPaywallEventsManager.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsManagerTests.swift
Labels: refactor, RevenueCatUI

#3173 `Paywalls`: new `{{ sub_duration_in_months }}` variable
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  Tests/RevenueCatUITests/Data/PackageVariablesTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
Labels: refactor, RevenueCatUI

#3185 `Paywalls`: fixed template 2 + `.condensedFooter` + iPad
  RevenueCatUI/Templates/Template2View.swift
Labels: refactor, RevenueCatUI

#3184 `Paywalls`: don't apply dark appearance with no dark mode colors
  RevenueCatUI/Helpers/ColorInformation+MultiScheme.swift
  RevenueCatUI/Templates/TemplateViewType.swift
Labels: refactor, RevenueCatUI

#3186 `Paywalls`: update `blurred_background_image` key in `PaywallData` test fixture
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
Labels: test, RevenueCatUI

#3187 `Paywalls`: fixed data flow resulting in multiple `PurchaseHandler` instances
  RevenueCatUI/Helpers/TrialOrIntroEligibilityChecker.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/View+PresentPaywall.swift
Labels: refactor, RevenueCatUI

#3183 `Paywalls`: polish template 4
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Helpers/ColorInformation+MultiScheme.swift
  RevenueCatUI/Templates/Template4View.swift
  RevenueCatUI/Views/FooterView.swift
  Sources/Paywalls/PaywallData.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/PaywallAPI.swift
  Tests/TestingApps/SimpleApp/SimpleApp/SamplePaywalls.swift
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-Sample1.json
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
  Tests/purchases-ios-snapshots-commit
Labels: refactor, RevenueCatUI

#3188 `Paywalls`: test plan for running non-snapshot tests
  .swiftpm/xcode/xcshareddata/xcschemes/RevenueCatUI.xcscheme
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/RevenueCatUITests/TestPlans/RevenueCatUI-UnitTests.xctestplan
Labels: test, RevenueCatUI

#3194 `Paywalls`: fixed `IntroEligibilityViewModel` data lifetime
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
Labels: refactor, RevenueCatUI

#3190 `Paywalls`: new `onRestoreCompleted` handler
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/UIKit/PaywallViewController.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
  RevenueCatUI/View+PurchaseCompleted.swift
  RevenueCatUI/View+PurchaseRestoreCompleted.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewAPI.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
  Tests/RevenueCatUITests/PaywallFooterTests.swift
  Tests/RevenueCatUITests/PresentIfNeededTests.swift
  Tests/RevenueCatUITests/Purchasing/PurchaseHandlerTests.swift
Labels: refactor, RevenueCatUI

#3195 `Paywalls`: convert empty images into `nil`
  Sources/Paywalls/PaywallData.swift
  Tests/BackendIntegrationTests/__Snapshots__/LoadShedderIntegrationTests/testCanGetOfferings.1.json
  Tests/BackendIntegrationTests/__Snapshots__/StoreKitIntegrationTests/testCanGetOfferings.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedTemplateNameGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInFeaturesGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywall.1.json
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-empty_images.json
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: refactor, RevenueCatUI

#3164 `Paywalls`: send events to `Purchases`
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/Views/LoadingPaywallView.swift
  Tests/RevenueCatUITests/PaywallViewEventsTests.swift
Labels: refactor, RevenueCatUI

#3191 `Paywalls`: send event timestamps in ms
  Sources/Paywalls/Events/Networking/PaywallEventsRequest.swift
Labels: RevenueCatUI

#3169 `Paywalls`: events unit and integration tests
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Diagnostics/FileHandler.swift
  Sources/Logging/Strings/PaywallsStrings.swift
  Sources/Networking/InternalAPI.swift
  Sources/Paywalls/Events/Networking/PaywallEventsRequest.swift
  Sources/Paywalls/Events/PaywallEventStore.swift
  Sources/Paywalls/Events/PaywallEventsManager.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/PaywallEventsIntegrationTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/UnitTests/Mocks/MockPaywallEventsManager.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventStoreTests.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsManagerTests.swift
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS15-testPostPaywallEventsWithMultipleEvents.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS15-testPostPaywallEventsWithOneEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS16-testPostPaywallEventsWithMultipleEvents.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsBackendTests/iOS16-testPostPaywallEventsWithOneEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsRequestTests/testCancelEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsRequestTests/testCloseEvent.1.json
  Tests/UnitTests/Paywalls/Events/__Snapshots__/PaywallEventsRequestTests/testViewEvent.1.json
Labels: test, RevenueCatUI

#3202 `Paywalls`: fixed broken layout on template 4
  RevenueCatUI/Data/PaywallTemplate.swift
  RevenueCatUI/Templates/Template4View.swift
Labels: refactor, RevenueCatUI

#3177 `Paywalls`: automatically flush events
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Paywalls/Events/PaywallEventsManager.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/BackendIntegrationTests/BaseBackendIntegrationTests.swift
  Tests/BackendIntegrationTests/PaywallEventsIntegrationTests.swift
  Tests/UnitTests/Mocks/MockOperationDispatcher.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsManagerTests.swift
  Tests/UnitTests/Paywalls/Events/PurchasesPaywallEventsTests.swift
Labels: refactor, RevenueCatUI

#3196 `Paywalls`: refactored `PurchaseHandler` extracting protocol
  RevenueCatUI/Data/IntroEligibility/IntroEligibilityViewModel.swift
  RevenueCatUI/Data/IntroEligibility/TrialOrIntroEligibilityChecker+TestData.swift
  RevenueCatUI/Data/IntroEligibility/TrialOrIntroEligibilityChecker.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Purchasing/MockPurchases.swift
  RevenueCatUI/Purchasing/PaywallPurchasesType.swift
  RevenueCatUI/Purchasing/PurchaseHandler+TestData.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/Views/LoadingPaywallView.swift
Labels: refactor, RevenueCatUI

#3204 `Paywalls`: improved `DebugErrorView` layout
  RevenueCatUI/Views/DebugErrorView.swift
  Tests/purchases-ios-snapshots-commit
Labels: refactor, RevenueCatUI

#3206 Fix runtime crash in SK2TransactionListener in iOS < 15
  Sources/Purchasing/StoreKit2/StoreKit2TransactionListener.swift
Labels: fix

#3210 `Paywalls`: only pre-warm images/intro-eligibility for `Offerings.current`
  Sources/Paywalls/PaywallCacheWarming.swift
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-missing_current_locale.json
  Tests/UnitTests/Paywalls/PaywallCacheWarmingTests.swift
Labels: RevenueCatUI

#3211 `Paywalls`: fixed template 4 bottom padding
  RevenueCatUI/Templates/Template4View.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3217 `Paywalls`: loading indicator for in-progress purchases
  RevenueCatUI/Views/PurchaseButton.swift
Labels: refactor, RevenueCatUI

#3213 `Integration Tests`: add coverage for `Purchases.customerInfoStream`
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/TestHelpers/StoreKitTestHelpers.swift
  Tests/UnitTests/TestHelpers/AsyncTestHelpers.swift
Labels: test

#3209 `Integration Tests`: prevent false positives when purchasing returns 5xx
  RevenueCat.xcodeproj/project.pbxproj
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/Helpers/BaseStoreKitIntegrationTests+Verification.swift
  Tests/BackendIntegrationTests/OfflineStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/SignatureVerificationIntegrationTests.swift
Labels: test

#3223 `CI`: updated iOS 17 simulator
  .circleci/config.yml
Labels: ci

#3225 `PurchasedProductsFetcher`: refactored `fetchTransactions`
  Sources/OfflineEntitlements/PurchasedProductsFetcher.swift
Labels: refactor

#3066 `Configuration`: log warning if attempting to use observer mode with StoreKit 2
  Sources/Logging/Strings/ConfigureStrings.swift
  Sources/Misc/Deprecations.swift
  Sources/Purchasing/Configuration.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/APITesters/CustomEntitlementComputationSwiftAPITester/SwiftAPITester/ConfigurationAPI.swift
  Tests/APITesters/ObjCAPITester/ObjCAPITester/RCConfigurationAPI.m
  Tests/APITesters/SwiftAPITester/SwiftAPITester/ConfigurationAPI.swift
  Tests/UnitTests/Purchasing/ConfigurationTests.swift
Labels: refactor

#3226 `Paywalls`: removed unused property
  RevenueCatUI/Templates/Template1View.swift
Labels: refactor

#3230 `Paywalls`: avoid displaying offer details twice on `.condensedFooter`s
  RevenueCatUI/Data/PaywallViewMode+Extensions.swift
  RevenueCatUI/Templates/Template2View.swift
  RevenueCatUI/Templates/Template5View.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3233 `Paywalls`: don't display "Purchases restored successfully" if nothings was restored
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Purchasing/PurchaseHandler+TestData.swift
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/Views/FooterView.swift
  Tests/RevenueCatUITests/PurchaseCompletedHandlerTests.swift
  Tests/RevenueCatUITests/Purchasing/PurchaseHandlerTests.swift
Labels: RevenueCatUI

#3235 `Paywalls`: don't display progress view in `LoadingPaywallView`
  RevenueCatUI/Views/PurchaseButton.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3240 `Paywalls`: polished `PurchaseButton` on iPad
  RevenueCatUI/Views/PurchaseButton.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3239 Make revisionID private in PaywallData+Default
  RevenueCatUI/Helpers/PaywallData+Default.swift
Labels: refactor

#3243 `Paywalls`: renamed `SimpleApp` to `PaywallsTester`
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/xcshareddata/xcschemes/PaywallsTester - Live Config.xcscheme
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/xcshareddata/xcschemes/PaywallsTester - SK config.xcscheme
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcworkspace/contents.xcworkspacedata
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Tests/TestingApps/PaywallsTester/PaywallsTester/Assets.xcassets/AccentColor.colorset/Contents.json
  Tests/TestingApps/PaywallsTester/PaywallsTester/Assets.xcassets/AppIcon.appiconset/Contents.json
  Tests/TestingApps/PaywallsTester/PaywallsTester/Assets.xcassets/AppIcon.appiconset/appstore1024.png
  Tests/TestingApps/PaywallsTester/PaywallsTester/Assets.xcassets/Contents.json
  Tests/TestingApps/PaywallsTester/PaywallsTester/Assets.xcassets/cat-picture.imageset/Contents.json
  Tests/TestingApps/PaywallsTester/PaywallsTester/Assets.xcassets/cat-picture.imageset/Image.png
  Tests/TestingApps/PaywallsTester/PaywallsTester/Configuration.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Info.plist
  Tests/TestingApps/PaywallsTester/PaywallsTester/PaywallsTester.entitlements
  Tests/TestingApps/PaywallsTester/PaywallsTester/Preview Content/Preview Assets.xcassets/Contents.json
  Tests/TestingApps/PaywallsTester/PaywallsTester/Products.storekit
  Tests/TestingApps/PaywallsTester/PaywallsTester/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/SimpleApp.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/AppContentView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/CustomPaywall.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/CustomPaywallContent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/DebugView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/OfferingsList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/SamplePaywallsList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/ar.lproj/Localizable.strings
  Tests/TestingApps/PaywallsTester/PaywallsTester/de.lproj/Localizable.strings
  Tests/TestingApps/PaywallsTester/PaywallsTester/en.lproj/Localizable.strings
  Tests/TestingApps/PaywallsTester/PaywallsTester/es.lproj/Localizable.strings
  Tests/TestingApps/PaywallsTester/PaywallsTester/fr.lproj/Localizable.strings
  Tests/TestingApps/PaywallsTester/ci_scripts/ci_pre_xcodebuild.sh
  Tests/TestingApps/SimpleApp/SimpleApp.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Tests/TestingApps/SimpleApp/ci_scripts/ci_pre_xcodebuild.sh
Labels: test

#3241 `Paywalls`: improved template 1 iPad layout and iOS 15 fix
  RevenueCatUI/Templates/Template1View.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3244 `Paywalls`: changed `PaywallsTester` to allow not configuring API key
  Tests/TestingApps/PaywallsTester/PaywallsTester/Configuration.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/SimpleApp.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/AppContentView.swift
  Tests/TestingApps/PaywallsTester/ci_scripts/ci_pre_xcodebuild.sh
  Tests/TestingApps/SimpleApp/SimpleApp.xcworkspace/contents.xcworkspacedata
Labels: test

#3242 `PrivacyInfo.xcprivacy`: changed `NSPrivacyCollectedDataTypePurchaseHistory` to `false`
  Sources/PrivacyInfo.xcprivacy
Labels: docs

#3255 PaywallsTester: improve navigation on macOS and iPadOS
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/OfferingsList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/SamplePaywallsList.swift
Labels: test

#3256 PaywallsTester: replace opening default paywall automatically with button
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/AppContentView.swift
Labels: test

#3258 PaywallsTester: allow resizing on macOS
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/OfferingsList.swift
Labels: test

#3254 PaywallsTester: allow easy testing of paywall modes for All Offerings tab
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/OfferingsList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/PaywallViewMode+Extensions.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/SamplePaywallsList.swift
Labels: test
