Repository RevenueCat/purchases-ios, pull requests merged in 2024-08, with the labels that each got.

#4134 [Customer Center] Make colors nullable
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/ColorFromAppearance.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterEnvironment.swift
  RevenueCatUI/CustomerCenter/ManageSubscriptionsButtonStyle.swift
  RevenueCatUI/CustomerCenter/ViewModels/FeedbackSurveyViewModel.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
  RevenueCatUI/CustomerCenter/Views/TintedProgressView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
  Tests/UnitTests/Networking/Backend/BackendGetCustomerCenterConfigTests.swift
Labels: fix, Customer Center Workflow

#4142 [Customer Center] Fix for disabled promo offer button
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
Labels: fix, Customer Center Workflow

#4144 [Customer Center] Fixes an extra blank screen after popping FeedbackSurveyView on iOS 18.
  RevenueCatUI/Binding+Extensions.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
Labels: fix, Customer Center Workflow

#4140 Deploy purchaserTester: clean up dry-run parameter
  .circleci/config.yml
Labels: ci

#4145 Update deployment targets for tests
  RevenueCat.xcodeproj/project.pbxproj
  Tests/APITesters/AllAPITests/AllAPITests.xcodeproj/project.pbxproj
Labels: ci

#4154 Fix Paywalls crash on iOS 18 beta
  RevenueCatUI/Modifiers/ViewExtensions.swift
Labels: fix

#4152 [Customer Center] Improve subscription details view
  RevenueCatUI/CustomerCenter/ManageSubscriptionsButtonStyle.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
Labels: fix, Customer Center Workflow

#4149 Customer Center compilation flag
  Package.swift
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Abstractions/CustomerCenterPurchasesType.swift
  RevenueCatUI/CustomerCenter/Abstractions/ManageSubscriptionsPurchaseType.swift
  RevenueCatUI/CustomerCenter/ColorFromAppearance.swift
  RevenueCatUI/CustomerCenter/CustomerInfo+CurrentEntitlement.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterAction.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterEnvironment.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterError.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterPurchases.swift
  RevenueCatUI/CustomerCenter/Data/FeedbackSurveyData.swift
  RevenueCatUI/CustomerCenter/Data/LoadPromotionalOfferUseCase.swift
  RevenueCatUI/CustomerCenter/Data/PromotionalOfferData.swift
  RevenueCatUI/CustomerCenter/Data/SubscriptionInformation.swift
  RevenueCatUI/CustomerCenter/ManageSubscriptionsButtonStyle.swift
  RevenueCatUI/CustomerCenter/URLUtilities.swift
  RevenueCatUI/CustomerCenter/View+PresentCustomerCenter.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewState.swift
  RevenueCatUI/CustomerCenter/ViewModels/FeedbackSurveyViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/PromotionalOfferViewModel.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
  RevenueCatUI/CustomerCenter/Views/TintedProgressView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/CustomerCenterConfigDataAPI.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
  Tests/UnitTests/Networking/Backend/BackendGetCustomerCenterConfigTests.swift
Labels: build

#4147 [Customer Center] UI polish for empty content
  RevenueCatUI/CustomerCenter/Views/CompatibilityContentUnavailableView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
Labels: fix, Customer Center Workflow

#4161 [Customer Center] Use system navigation titles
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/TintedProgressView.swift
Labels: fix, Customer Center Workflow

#4160 Disable `CustomerCenter` build flags
  Package.swift
  RevenueCat.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
Labels: refactor

#4163 [Paywalls] Make iOS version calculation lazy
  RevenueCatUI/Modifiers/ViewExtensions.swift
Labels: fix

#4171 Enable customer center tests
  fastlane/Fastfile
Labels: test

#4173 Revert workaround for iOS 18 beta 5 SwiftUI crash
  RevenueCatUI/Modifiers/ViewExtensions.swift
Labels: fix

#4174 Fix tests in main
  .circleci/config.yml
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Views/CompatibilityContentUnavailableView.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  RevenueCatUI/Views/TemplatePackageSetting.swift
  fastlane/README.md
Labels: test

#4183 replace `color(from colorInformation:)` global with extension
  RevenueCatUI/CustomerCenter/ColorFromAppearance.swift
  RevenueCatUI/CustomerCenter/ManageSubscriptionsButtonStyle.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
Labels: refactor

#4166 Customer center improvements
  RevenueCatUI/CustomerCenter/CustomerInfo+CurrentEntitlement.swift
  RevenueCatUI/CustomerCenter/URLUtilities.swift
Labels: refactor, Customer Center Workflow

#4184 Speed up carthage installation tests
  Tests/InstallationTests/CarthageInstallation/fastlane/Fastfile
Labels: ci

#4165 [Customer Center] Improving customer center buttons
  RevenueCatUI/CustomerCenter/ButtonStyles.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
Labels: fix, Customer Center Workflow

#4186 Corrects references from ManageSubscriptionsButtonStyle to ButtonsStyle.
  RevenueCat.xcodeproj/project.pbxproj
Labels: build

#4172 export RevenueCatUI xcframework
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Modifiers/ViewExtensions.swift
  RevenueCatUI/Resources/icons.xcassets/plus.imageset/Contents.json
  RevenueCatUI/Resources/icons.xcassets/plus.imageset/add.svg
  RevenueCatUI/Views/IconView.swift
  fastlane/Fastfile
  fastlane/README.md
Labels: ci

#4169 [Customer Center] CustomerCenterViewModel checks whether the app is the latest version
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Data/SemanticVersion.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/CustomerCenterConfigDataAPI.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/Data/SemanticVersionTests.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
Labels: feat, Customer Center Workflow

#4189 XCFramework artifacts in CircleCI
  .circleci/config.yml
  RevenueCat.xcodeproj/project.pbxproj
Labels: ci

#4191 Create lane to enable customer center
  fastlane/Fastfile
  fastlane/README.md
Labels: build, Customer Center Workflow

#4132 Price rounding logic
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Data/Variables.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  RevenueCatUI/Helpers/PreviewHelpers.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Template4View.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  Sources/Paywalls/PaywallData.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCPurchasesAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/PaywallAPI.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/BackendIntegrationTests/__Snapshots__/LoadShedderIntegrationTests/testCanGetOfferings.1.json
  Tests/RevenueCatUITests/Data/PackageVariablesTests.swift
  Tests/RevenueCatUITests/Data/VariablesTests.swift
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsInTiersGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedIconsInTiersGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedTemplateNameGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedTemplateNameGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInFeaturesGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInFeaturesGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInTierFeaturesGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInTierFeaturesGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInTierLocalizationGeneratesDefaultPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testUnrecognizedVariableInTierLocalizationGeneratesDefaultPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywallWithSpanishLocalization-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMissingPaywallWithSpanishLocalization.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithMissingTierLocalization-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithMissingTierLocalization.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithMissingTierNames-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithMissingTierNames.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithMissingTiers-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithMissingTiers.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithNoTierLocalization-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateMultiTierPaywallWithNoTierLocalization.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateSingleTierPaywallWithMissingLocalization-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateSingleTierPaywallWithMissingLocalization.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateValidMultiTierPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateValidMultiTierPaywall.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateValidPaywall-watchOS.1.json
  Tests/RevenueCatUITests/Data/__Snapshots__/PaywallDataValidationTests/testValidateValidPaywall.1.json
Labels: feat

#4195 Fix the setting for SKIP_INSTALL in Xcode project
  RevenueCat.xcodeproj/project.pbxproj
Labels: fix

#4197 Compatibility content unavailable improvements
  RevenueCatUI/CustomerCenter/Views/CompatibilityContentUnavailableView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
Labels: refactor, Customer Center Workflow

#4192 [Customer Center] Hide Contact Support button if URL can't be created
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
Labels: fix, Customer Center Workflow

#4196 Set Paywalls Tester deployment target to iOS 15
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester/Data/ApplicationData.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Data/OfferingsPaywallsViewModel.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Networking/HTTPClient.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/PaywallsPreview.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/AppList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/CompatibilityContentUnavailableView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/Login/LoginScreen.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/Login/LoginWall.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/OfferingButton.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/OfferingsList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/PaywallForID.swift
Labels: fix, test

#4188 Fix failing `all-tests` and retry more flaky tests
  .circleci/config.yml
  Gemfile.lock
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/View+PresentCustomerCenter.swift
  RevenueCatUI/CustomerCenter/Views/CompatibilityTopBarTrailing.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK2Tests.swift
  Tests/UnitTests/FoundationExtensions/LocaleExtensionsTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
  fastlane/Fastfile
  fastlane/README.md
Labels: test

#4158 [Paywalls] Improve locale consistency
  RevenueCatUI/Data/Localization.swift
  RevenueCatUI/Data/PaywallData+Validation.swift
  RevenueCatUI/Data/PaywallViewConfiguration.swift
  RevenueCatUI/Data/ProcessedLocalizedConfiguration.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Other platforms/WatchTemplateView.swift
  RevenueCatUI/Templates/Template1View.swift
  RevenueCatUI/Templates/Template2View.swift
  RevenueCatUI/Templates/Template3View.swift
  RevenueCatUI/Templates/Template4View.swift
  RevenueCatUI/Templates/Template5View.swift
  RevenueCatUI/Templates/Template7View.swift
  RevenueCatUI/Views/FooterView.swift
  RevenueCatUI/Views/LoadingPaywallView.swift
  Sources/Logging/Strings/PaywallsStrings.swift
  Sources/Paywalls/PaywallData+Localization.swift
  Sources/Paywalls/PaywallData.swift
  Tests/BackendIntegrationTests/__Snapshots__/StoreKitIntegrationTests/testCanGetOfferings.1.json
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/RevenueCatUITests/Templates/OtherPaywallViewTests.swift
  Tests/RevenueCatUITests/Templates/PaywallViewLocalizationTests.swift
  Tests/UnitTests/Paywalls/PaywallDataMultiTierTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: fix

#4190 [Customer Center] Migrate to List style
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Views/CompatibilityNavigationStack.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/SubscriptionDetailsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
Labels: fix, Customer Center Workflow

#4201 Adds Paywalls Components Compiler Feature Flag
  RevenueCatUI/Data/PaywallTemplate.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Templates/Components/ImageComponentView.swift
  RevenueCatUI/Templates/Components/SpacerComponentView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TextComponentView.swift
  RevenueCatUI/Templates/Components/TiersComponentView.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/Views/TemplatePackageSetting.swift
  Sources/Paywalls/Components/PaywallComponentBases.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallPurchaseButtonComponent.swift
  Sources/Paywalls/Components/PaywallSpacerComponent.swift
  Sources/Paywalls/Components/PaywallTextComopnent.swift
  Sources/Paywalls/Components/PaywallTiersComponent.swift
  Sources/Paywalls/PaywallData.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: build, Paywalls Components

#4200 Paywalls components/file split
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Data/PaywallTemplate.swift
  RevenueCatUI/Data/TemplateViewConfiguration.swift
  RevenueCatUI/Templates/Components/ImageComponentView.swift
  RevenueCatUI/Templates/Components/SpacerComponentView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TextComponentView.swift
  RevenueCatUI/Templates/Components/TiersComponentView.swift
  RevenueCatUI/Templates/TemplateComponentsView.swift
  RevenueCatUI/Templates/TemplateViewType.swift
  RevenueCatUI/Views/TemplatePackageSetting.swift
  Sources/Paywalls/Components/PaywallCarouselComponent.swift
  Sources/Paywalls/Components/PaywallComponentBases.swift
  Sources/Paywalls/Components/PaywallFeaturesComponent.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallPackagesComopnent.swift
  Sources/Paywalls/Components/PaywallPurchaseButtonComponent.swift
  Sources/Paywalls/Components/PaywallSpacerComponent.swift
  Sources/Paywalls/Components/PaywallTextComopnent.swift
  Sources/Paywalls/Components/PaywallTiersComponent.swift
  Sources/Paywalls/Components/PaywallToggleComponent.swift
  Sources/Paywalls/Components/PaywallVideoComponent.swift
  Sources/Paywalls/PaywallData.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/xcshareddata/xcschemes/PaywallsTester - SK config.xcscheme
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: refactor, Paywalls Components

#4209 Remove `unneeded_override` disable to fix linter
  Tests/RevenueCatUITests/Helpers/TestCase.swift
Labels: fix

#4208 [Customer Center] Fix `FeedbackSurveyView` not opening
  RevenueCatUI/CustomerCenter/ButtonStyles.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
Labels: fix, Customer Center Workflow

#3879 fix mac os sandbox check slowness
  Sources/Misc/SandboxEnvironmentDetector.swift
  Tests/UnitTests/Misc/SandboxEnvironmentDetectorTests.swift
Labels: fix

#4216 Pin swift-docc-plugin to 1.3.0
  Package.swift
  Package@swift-5.7.swift
  Package@swift-5.8.swift
Labels: build

#4213 Fix version number in plist files
  Sources/Info.plist
  Tests/BackendIntegrationTestApp/Info.plist
  Tests/BackendIntegrationTests/Info.plist
  Tests/UnitTests/Info.plist
  Tests/UnitTestsHostApp/Info.plist
Labels: fix

#4221 [Customer Center] Add padding to `No thanks` in promotional offer screen
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
Labels: fix, Customer Center Workflow

#4193 [Customer Center] Shows a warning when the app is not the latest version
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/CustomerCenter/Views/AppUpdateWarningView.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
Labels: refactor, Customer Center Workflow

#4218 [EXTERNAL] `Custom Entitlements Computation`: fix support display on debug screen (#4215) by @NachoSoto
  Sources/Misc/SystemInfo.swift
  Sources/OfflineEntitlements/OfflineEntitlementsManager.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesConfiguringTests.swift
Labels: fix

#4220 [CustomerCenter] Move sheet and restore alert creation to `ManageSubscriptionsView`
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
Labels: fix, Customer Center Workflow

#4199 [CustomerCenter] Open App Store when the user wants to update their app
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Views/AppUpdateWarningView.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
Labels: refactor, Customer Center Workflow

#4223 [Paywall] Fix restoreStarted not being called on `presentPaywallIfNeeded` when using `requiredEntitlementIdentifier`
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
Labels: fix

#4224 Paywall Components Initial Commit
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Components/ImageComponentView.swift
  RevenueCatUI/Templates/Components/LinkButtonComponentView.swift
  RevenueCatUI/Templates/Components/SpacerComponentView.swift
  RevenueCatUI/Templates/Components/StackComponentView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TextComponentView.swift
  RevenueCatUI/Views/RemoteImage.swift
  Sources/Misc/Codable/DefaultDecodable.swift
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Paywalls/Components/PaywallComponentBases.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallLinkButtonComponent.swift
  Sources/Paywalls/Components/PaywallPurchaseButtonComponent.swift
  Sources/Paywalls/Components/PaywallSpacerComponent.swift
  Sources/Paywalls/Components/PaywallTextComopnent.swift
  Sources/Paywalls/Components/StackComponent.swift
  Sources/Paywalls/PaywallData.swift
  Sources/Purchasing/Offering.swift
  Sources/Purchasing/OfferingsFactory.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Products.storekit
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: feat, Paywalls Components

#4226 Fix `compatibleTopBarTrailing` in MacOS and api tests
  RevenueCatUI/CustomerCenter/Views/CompatibilityTopBarTrailing.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/CustomerCenterConfigDataAPI.swift
Labels: fix, Customer Center Workflow

#4229 Set a maximum duration for iOS 15 tests
  .circleci/config.yml
Labels: ci

#3914 Update readme wording
  README.md
Labels: docs

#4194 Add `feedbackSurveyCompleted` event to Customer Center events
  RevenueCatUI/CustomerCenter/Data/CustomerCenterAction.swift
  RevenueCatUI/CustomerCenter/ViewModels/FeedbackSurveyViewModel.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: fix, Customer Center Workflow
