Repository RevenueCat/purchases-ios, pull requests merged in 2024-10, with the labels that each got.

#4333 Fixes double callbacks when using `PaywallViewController`
  RevenueCatUI/UIKit/PaywallViewController.swift
Labels: pr:fix, pr:RevenueCatUI

#4336 Better logs for promotional offer view
  RevenueCatUI/CustomerCenter/Data/LoadPromotionalOfferUseCase.swift
  RevenueCatUI/Data/Strings.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Products.storekit
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4339 Remove access to Localization env variable in ManageSubscriptionsViewModel
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/SubscriptionDetailsView.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4341 Allows enabling PAYWALL_COMPONENTS using a Local.xcconfig file.
  .gitignore
  Global.xcconfig
  Local.xcconfig.SAMPLE
  RevenueCat.xcodeproj/project.pbxproj
Labels: pr:other

#4350 [CustomerCenter] Hide unknown paths
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4337 Feat/update swift sample apps
  Examples/MagicWeather/MagicWeather.xcodeproj/project.pbxproj
  Examples/MagicWeather/MagicWeather.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Examples/MagicWeather/MagicWeather/Resources/UI/Base.lproj/Main.storyboard
  Examples/MagicWeather/MagicWeather/Resources/UI/Paywall.storyboard
  Examples/MagicWeather/MagicWeather/Sources/Controllers/PaywallViewController.swift
  Examples/MagicWeather/MagicWeather/Sources/Controllers/UserViewController.swift
  Examples/MagicWeather/MagicWeather/Sources/Controllers/WeatherViewController.swift
  Examples/MagicWeather/README.md
Labels: pr:other

#4342 Improve promotional offer button when pressed
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4343 CAT-1726: Support Deferring Win-Back StoreKit Messages
  Sources/Purchasing/Configuration.swift
  Sources/Support/StoreMessageType.swift
  Tests/StoreKitUnitTests/StoreMessageTypeTests.swift
Labels: pr:feat, feat:Win-Back Offers

#4344 Only Treat Deferred StoreKit Messages as Shown When They are Shown
  Sources/Support/StoreMessagesHelper.swift
  Tests/StoreKitUnitTests/StoreMessagesHelperTests.swift
Labels: pr:fix

#4359 Fix `hasFeature(RetroactiveAttribute)` check in iOS 14
  Sources/Purchasing/StoreKit1/ProductsFetcherSK1.swift
Labels: pr:fix

#4358 Fix setting accent color in Customer Center
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4366 Adds `.index-build` to `.gitignore`.
  .gitignore
Labels: pr:other

#4369 Better spacing in `PromotionalOfferView`
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4371 Fixes `SubscriptionDetailsView` background color in dark mode
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/SubscriptionDetailsView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4367 Local.xcconfig is read by PurchaseTester and PaywallsTester
  Global.xcconfig
  Local.xcconfig.SAMPLE
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PurchaseTesterSwiftUI/PurchaseTester.xcodeproj/project.pbxproj
Labels: pr:other

#4348 Adds scaffolding for the ButtonComponent.
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  Sources/Paywalls/Components/PaywallButtonComponent.swift
  Sources/Paywalls/Components/PaywallComponentBase.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4353 Models the Action for the ButtonComponent
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentViewModel.swift
  Sources/Paywalls/Components/PaywallButtonComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4360 ButtonComponent can handle URL destinations
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentViewModel.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4365 ButtonComponent can dismiss the paywall
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Previews/Template1Preview.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4372 ButtonComponent can restore purchases
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4368 Local.xcconfig is read by Package.swift
  Local.xcconfig.SAMPLE
  Package.swift
Labels: pr:other

#4373 ButtonComponent can show the Customer Center
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4328 Added new individual corner radius and border modifier
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/CornerBorder.swift
  RevenueCatUI/Templates/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/Components/Stackable+Extensions.swift
  Sources/Paywalls/Components/Common/Border.swift
  Sources/Paywalls/Components/Common/StackableComponent.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallPackageComponent.swift
  Sources/Paywalls/Components/PaywallPackageGroupComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4332 Select package and purchase
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PackageGroup/PackageGroupComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PackageGroup/PackageGroupComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/Stackable+Extensions.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  Sources/Paywalls/Components/Common/Border.swift
  Sources/Paywalls/Components/Common/StackableComponent.swift
  Sources/Paywalls/Components/PaywallPackageGroupComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4380 Paywall component containers are all stacks
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PackageGroup/PackageGroupComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PackageGroup/PackageGroupComponentViewModel.swift
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/Components/Stackable+Extensions.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Paywalls/Components/Common/StackableComponent.swift
  Sources/Paywalls/Components/PaywallPackageComponent.swift
  Sources/Paywalls/Components/PaywallPackageGroupComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4386 Add default values to enums in Customer Center config response
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4389 Fix `PaywallsTester` compilation
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
Labels: pr:other

#4385 Fixes broken references in project.pbxproj.
  RevenueCat.xcodeproj/project.pbxproj
Labels: pr:other

#4382 Support custom URL paths in `ManageSubscriptionsView`
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Views/SafariView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#4394 Fix iOS 15, 14 tests using wrong version of `swift-snapshot-testing` and API tests
  Package@swift-5.7.swift
  Package@swift-5.8.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/CustomerCenterConfigDataAPI.swift
Labels: pr:other

#4397 [CustomerCenter] Add default info to support emails
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/ContactSupportUtilities.swift
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Tests/RevenueCatUITests/CustomerCenter/ContactSupportUtilitiesTests.swift
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#4398 adds callout to SPM installation tip for visibility
  README.md
Labels: pr:other, pr:force_patch

#4396 Fix integration tests simulator
  .circleci/config.yml
Labels: pr:other

#4401 Default URL to nil in CustomerCenter HelpPaths
  Sources/CustomerCenter/CustomerCenterConfigData.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4408 Improved JSON format for ButtonComponent codables
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentViewModel.swift
  Sources/Paywalls/Components/PaywallButtonComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Tests/UnitTests/Paywalls/Components/ButtonComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4393 Adds compatibility for suffix offer identifiers
  RevenueCatUI/CustomerCenter/Data/LoadPromotionalOfferUseCase.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4409 Adds scaffolding for `StickyFooterComponent`
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/Root/RootView.swift
  RevenueCatUI/Templates/Components/Root/RootViewModel.swift
  RevenueCatUI/Templates/Components/StickyFooter/StickyFooterComponentView.swift
  RevenueCatUI/Templates/Components/StickyFooter/StickyFooterComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Paywalls/Components/Common/PaywallComponentBase.swift
  Sources/Paywalls/Components/PaywallStickyFooterComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4411 `RootView` actually shows the sticky footer
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/Root/RootView.swift
  RevenueCatUI/Templates/Components/StickyFooter/StickyFooterComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4412 Adds long sample paywall with sticky footer to PaywallsTester
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4422 Fixes the sticky footer not drawing in the bottom safe area.
  RevenueCatUI/Templates/Components/Root/RootView.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4429 The StackComponent has an optional shadow
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/ShadowModifier.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4413 Remove PackageGroup
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Data/Strings.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/PackageValidator.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PackageGroup/PackageGroupComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PackageGroup/PackageGroupComponentViewModel.swift
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template5Preview.swift
  Sources/Paywalls/Components/Common/PaywallComponentBase.swift
  Sources/Paywalls/Components/PaywallPackageComponent.swift
  Sources/Paywalls/Components/PaywallPackageGroupComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4415 PurchaseButtonComponent is now just a container/stack like ButtonComponent
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
  Sources/Paywalls/Components/PaywallPurchaseButtonComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4414 Text, Image, and Stack properties can be overridden on different states/conditions
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Paywalls/Components/Common/PartialComponent.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
  Tests/UnitTests/Paywalls/Components/ButtonComponentTests.swift
  Tests/UnitTests/Paywalls/Components/PartialComponentTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components
