Repository RevenueCat/purchases-ios, pull requests merged in 2024-01, with the labels that each got.

#3547 Paywalls: improve footer view UIKit support for hybrid SDKs
  RevenueCatUI/UIKit/PaywallViewController.swift
Labels: RevenueCatUI

#3552 Tests: improve test flakiness
  Sources/Purchasing/Purchases/Attribution.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsManagerTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesGetCustomerInfoTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesLogInTests.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
Labels: test

#3559 `Paywalls`: improve template 5 checkmark icon
  RevenueCatUI/Templates/Template5View.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3560 `Integration Tests`: split into separate jobs
  .circleci/config.yml
  BackendIntegrationTests/BackendIntegrationTests-All-CI.xctestplan
  BackendIntegrationTests/BackendIntegrationTests-All.xctestplan
  BackendIntegrationTests/BackendIntegrationTests-CustomEntitlements.xctestplan
  BackendIntegrationTests/BackendIntegrationTests-Offline.xctestplan
  BackendIntegrationTests/BackendIntegrationTests-Other.xctestplan
  BackendIntegrationTests/BackendIntegrationTests-SK1.xctestplan
  BackendIntegrationTests/BackendIntegrationTests-SK2.xctestplan
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCat.xcodeproj/xcshareddata/xcschemes/BackendIntegrationTests.xcscheme
  fastlane/Fastfile
Labels: test, ci

#3549 Improve sandbox detector for macOS apps
  RevenueCat.xcodeproj/project.pbxproj
  Sources/LocalReceiptParsing/BasicTypes/AppleReceipt.swift
  Sources/LocalReceiptParsing/Builders/AppleReceiptBuilder.swift
  Sources/LocalReceiptParsing/Helpers/ReceiptStrings.swift
  Sources/LocalReceiptParsing/LocalReceiptFetcher.swift
  Sources/LocalReceiptParsing/ReceiptParser-only-files/PurchasesReceiptParser+Extensions.swift
  Sources/Misc/SandboxEnvironmentDetector.swift
  Sources/Misc/SystemInfo.swift
  Tests/ReceiptParserTests/Helpers/MockBundle.swift
  Tests/ReceiptParserTests/ReceiptParserFetchingTests.swift
  Tests/StoreKitUnitTests/TestHelpers/AvailabilityChecks.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/LocalReceiptView.swift
  Tests/UnitTests/LocalReceiptParsing/AppleReceiptTests.swift
  Tests/UnitTests/LocalReceiptParsing/Builders/AppleReceiptBuilderTests.swift
  Tests/UnitTests/LocalReceiptParsing/ReceiptParserTests.swift
  Tests/UnitTests/Misc/SandboxEnvironmentDetectorTests.swift
  Tests/UnitTests/Misc/SystemInfoTests.swift
  Tests/UnitTests/Mocks/MockReceiptParser.swift
  Tests/UnitTests/Purchasing/IntroEligibilityCalculatorTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesRestoreTests.swift
  Tests/UnitTests/Purchasing/ReceiptFetcherTests.swift
  Tests/UnitTests/Purchasing/StoreKitAbstractions/StoreKitWorkaroundsTests.swift
Labels: fix

#3562 `Paywalls`: remove unscrollable spacing in Template 5
  RevenueCatUI/Templates/Template5View.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3563 `Paywalls`: new `PaywallViewControllerDelegate.paywallViewController(_:didChangeSizeTo:)`
  RevenueCatUI/UIKit/PaywallViewController.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
Labels: refactor

#3569 `PaywallViewControllerDelegate`: fixed typo in `@objc` method name
  RevenueCatUI/UIKit/PaywallViewController.swift
Labels: refactor

#3567 `PaywallViewController`: add `PaywallFontProvider` parameter
  RevenueCatUI/UIKit/PaywallFooterViewController.swift
  RevenueCatUI/UIKit/PaywallViewController.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
Labels: RevenueCatUI

#3571 `CI`: update to Xcode 15.2
  .circleci/config.yml
Labels: ci

#3107 `Integration Tests`: run on iOS 17
  .circleci/config.yml
Labels: test, ci

#3546 `StoreProduct`: add localized price per period strings
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  Sources/Purchasing/StoreKitAbstractions/StoreProduct.swift
  Sources/Purchasing/StoreKitAbstractions/Test Data/TestStoreProduct.swift
  Tests/APITesters/ObjCAPITester/ObjCAPITester/RCStoreProductAPI.m
  Tests/APITesters/SwiftAPITester/SwiftAPITester/StoreProductAPI.swift
  Tests/APITesters/SwiftAPITester/SwiftAPITester/TestStoreProductAPI.swift
  Tests/StoreKitUnitTests/StoreProductTests.swift
Labels: feat

#3554 `PurchaseTester`: improved `ReceiptInspector` so it accepts receipts with escape sequences
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/ReceiptInspector.swift
Labels: test

#3577 `Paywalls`: improve error display
  RevenueCatUI/Data/LocalizedAlertError.swift
  Tests/RevenueCatUITests/Data/LocalizedAlertErrorTests.swift
Labels: RevenueCatUI

#3578 `Paywalls`: new `.onPurchaseCancelled` and `paywallViewControllerDidCancelPurchase:`
  RevenueCatUI/Purchasing/PurchaseHandler.swift
  RevenueCatUI/UIKit/PaywallViewController.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PurchaseRestoreCompleted.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewAPI.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
  Tests/RevenueCatUITests/PurchaseCompletedHandlerTests.swift
  Tests/RevenueCatUITests/Purchasing/PurchaseHandlerTests.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/UpsellView.swift
Labels: RevenueCatUI

#3140 `CircleCI`: change all jobs to M1
  .circleci/config.yml
  Tests/BackendIntegrationTests/OtherIntegrationTests.swift
Labels: ci

#3585 `CircleCI`: avoid installing `Xcodes` when not needed
  .circleci/config.yml
Labels: ci

#3586 `Paywalls`: extracted `PaywallViewConfiguration`
  RevenueCatUI/Data/PaywallViewConfiguration.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/UIKit/PaywallViewController.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
  Tests/RevenueCatUITests/BaseSnapshotTest.swift
  Tests/RevenueCatUITests/PaywallViewEventsTests.swift
  Tests/RevenueCatUITests/PurchaseCompletedHandlerTests.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Views/SamplePaywallsList.swift
Labels: refactor

#3589 `Paywalls`: improve template 5 layout for long product names
  RevenueCatUI/Templates/Template5View.swift
  Tests/RevenueCatUITests/Helpers/DataExtensions.swift
  Tests/RevenueCatUITests/Templates/Template5ViewTests.swift
  Tests/purchases-ios-snapshots-commit
Labels: RevenueCatUI

#3587 `PaywallViewController`: new initializer with `Offering` identifier
  RevenueCatUI/Data/Errors/PaywallError.swift
  RevenueCatUI/Data/PaywallViewConfiguration.swift
  RevenueCatUI/Helpers/Optional+Extensions.swift
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/UIKit/PaywallFooterViewController.swift
  RevenueCatUI/UIKit/PaywallViewController.swift
  RevenueCatUI/View+PresentPaywall.swift
  RevenueCatUI/View+PresentPaywallFooter.swift
  Sources/FoundationExtensions/Optional+Extensions.swift
  Sources/FoundationExtensions/String+Extensions.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
Labels: RevenueCatUI

#3594 `RevenueCatUI`: fix CocoaPods build
  RevenueCatUI/Helpers/Optional+Extensions.swift
Labels: build

#3593 Simplify `CocoapodsInstallation` `Podfile`
  Tests/InstallationTests/CocoapodsInstallation/CocoapodsInstallation.xcodeproj/project.pbxproj
  Tests/InstallationTests/CocoapodsInstallation/Podfile
  Tests/InstallationTests/CocoapodsInstallation/Podfile.lock
Labels: test

#3592 `PaywallViewController`: methods for reconfiguring paywall with new offering
  RevenueCatUI/UIKit/PaywallViewController.swift
  Tests/APITesters/RevenueCatUIAPITester/SwiftAPITester/PaywallViewControllerAPI.swift
Labels: refactor

#3597 Release/4.32.2
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  RevenueCat.podspec
  RevenueCat.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RevenueCatUI.podspec
  Sources/Info.plist
  Sources/Misc/SystemInfo.swift
  Tests/BackendIntegrationTestApp/Info.plist
  Tests/BackendIntegrationTests/Info.plist
  Tests/InstallationTests/CommonFiles/RevenueCat-Swift.h
  Tests/UnitTests/Info.plist
  Tests/UnitTestsHostApp/Info.plist
  scripts/docs/index.html
  scripts/docs/v4_api_migration_guide.html
Labels: next_release

#3599 `Xcode 15.3 beta 1`: fix compilation errors
  Sources/Networking/InternalAPI.swift
  Sources/Paywalls/Events/PaywallEventStore.swift
  Sources/Purchasing/StoreKit2/SK2BeginRefundRequestHelper.swift
  Sources/Support/BeginRefundRequestHelper.swift
  Sources/Support/DebugUI/DebugContentViews.swift
  Sources/Support/DebugUI/DebugViewModel.swift
  Sources/Support/StoreMessagesHelper.swift
  Tests/UnitTests/Mocks/MockSK2BeginRefundRequestHelper.swift
Labels: fix

#3600 `Xcode 15.3 beta 1`: fix warnings on tests
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2CachingProductsManagerTests.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2TransactionFetcherTests.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2TransactionListenerTests.swift
  Tests/StoreKitUnitTests/StoreKitConfigTestCase.swift
  Tests/StoreKitUnitTests/StoreMessagesHelperTests.swift
  Tests/StoreKitUnitTests/Support/DebugViewSwiftUITests.swift
  Tests/StoreKitUnitTests/TestHelpers/StoreKitConfigTestCase+Extensions.swift
  Tests/UnitTests/Diagnostics/FileHandlerTests.swift
  Tests/UnitTests/Identity/CustomerInfoManagerTests.swift
  Tests/UnitTests/OfflineEntitlements/CustomerInfoResponseHandlerTests.swift
  Tests/UnitTests/OfflineEntitlements/OfflineEntitlementsManagerTests.swift
  Tests/UnitTests/Paywalls/PaywallCacheWarmingTests.swift
  Tests/UnitTests/Purchasing/CachingProductsManagerTests.swift
  Tests/UnitTests/Purchasing/CachingTrialOrIntroPriceEligibilityCheckerTests.swift
  Tests/UnitTests/Purchasing/OfferingsManagerTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesDeferredPurchasesTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesPurchasingTests.swift
  Tests/UnitTests/Purchasing/StoreKitAbstractions/StoreEnvironmentTests.swift
  Tests/UnitTests/Purchasing/StoreKitRequestFetcherTests.swift
Labels: test

#3604 `Integration Tests`: disable failure expectation on `iOS 17.4`
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
Labels: storekit2, test

#3605 `Paywalls`: improve `PaywallData.config(for:)` disambiguation
  RevenueCatUI/Resources/zh_Hans.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_Hant.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_TW.lproj/Localizable.strings
  Sources/Paywalls/PaywallData.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester/zh-Hans.lproj/Localizable.strings
  Tests/TestingApps/PaywallsTester/PaywallsTester/zh-Hant.lproj/Localizable.strings
  Tests/UnitTests/Networking/Responses/Fixtures/PaywallData-chinese.json
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
Labels: fix, RevenueCatUI

#3608 `Paywalls`: fix template 5 scrolling on iOS 15
  RevenueCatUI/Modifiers/ViewExtensions.swift
  RevenueCatUI/Templates/Template5View.swift
  Tests/purchases-ios-snapshots-commit
Labels: fix, RevenueCatUI

#3262 `CocoaPods`: enabled `visionOS`
  RevenueCat.podspec
  RevenueCatUI.podspec
  Tests/InstallationTests/CocoapodsInstallation/Gemfile.lock
  fastlane/Fastfile
Labels: build, xrOS

#3611 Release/4.33.0
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  RevenueCat.podspec
  RevenueCatUI.podspec
  Sources/Info.plist
  Sources/Misc/SystemInfo.swift
  Tests/BackendIntegrationTestApp/Info.plist
  Tests/BackendIntegrationTests/Info.plist
  Tests/InstallationTests/CommonFiles/RevenueCat-Swift.h
  Tests/UnitTests/Info.plist
  Tests/UnitTestsHostApp/Info.plist
  scripts/docs/index.html
  scripts/docs/v4_api_migration_guide.html
Labels: next_release

#3614 `CircleCI`: push pods using Xcode 15
  .circleci/config.yml
Labels: ci
