Repository RevenueCat/purchases-ios, pull requests merged in 2024-12, with the labels that each got.

#4493 Paywalls: Update Finnish "restore" localization
  RevenueCatUI/Resources/fi.lproj/Localizable.strings
Labels: pr:fix

#4526 Adds API Test for `jwsRepresentation` in obj-c
  Tests/APITesters/AllAPITests/ObjcAPITester/RCTransactionAPI.m
Labels: pr:other, test

#4530 Use `ManageSubscriptionsView` for users without active subscriptions
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsButtonsView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4529 [Paywalls] Add Emerge Snapshot Tests
  .circleci/config.yml
  Gemfile.lock
  RevenueCat.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/xcshareddata/xcschemes/PaywallsTester - Live Config.xcscheme
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/xcshareddata/xcschemes/PaywallsTester - SK config.xcscheme
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/AppContentView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTesterTests/PaywallsTesterTests.swift
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
Labels: do not merge, pr:RevenueCatUI, pr:other, feat:PaywallV2

#4508 Adds `subscriptions` to `CustomerInfo`
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Identity/CustomerInfo.swift
  Sources/Identity/SubscriptionInfo.swift
  Sources/Networking/Responses/CustomerInfoResponse.swift
  Sources/Purchasing/EntitlementInfo.swift
  Sources/Purchasing/NonSubscriptionTransaction.swift
  Tests/APITesters/AllAPITests/AllAPITests.xcodeproj/project.pbxproj
  Tests/APITesters/AllAPITests/ObjcAPITester/RCSubscriptionInfoAPI.h
  Tests/APITesters/AllAPITests/ObjcAPITester/RCSubscriptionInfoAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/CustomerInfoAPI.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/SubscriptionInfoAPI.swift
  Tests/StoreKitUnitTests/BeginRefundRequestHelperTests.swift
  Tests/UnitTests/Identity/CustomerInfoManagerTests.swift
  Tests/UnitTests/Networking/Backend/BackendPostReceiptDataTests.swift
  Tests/UnitTests/Networking/Backend/BaseBackendTest.swift
  Tests/UnitTests/OfflineEntitlements/CustomerInfoResponseHandlerTests.swift
  Tests/UnitTests/Purchasing/CustomerInfoTests.swift
  Tests/UnitTests/SubscriberAttributes/BackendSubscriberAttributesTests.swift
Labels: pr:feat

#4531 Fix build for app extensions
  RevenueCatUI/CustomerCenter/URLUtilities.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/AppUpdateWarningView.swift
Labels: pr:fix, pr:RevenueCatUI

#4534 Update Package.resolved
  Package.resolved
Labels: pr:other

#4533 Customer Center deeplinks should always be opened externally
  RevenueCatUI/CustomerCenter/URLUtilities.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/Data/Strings.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4535 Renames isDeeplink to isWebLink
  RevenueCatUI/CustomerCenter/URLUtilities.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4537 Adds missing revisionId to CustomerCenter impression event
  Sources/CustomerCenter/Events/EventsRequest+CustomerCenter.swift
  Tests/UnitTests/CustomerCenter/Events/__Snapshots__/CustomerCenterEventsRequestTests/testCanInitFromDeserializedEvent.1.json
  Tests/UnitTests/CustomerCenter/Events/__Snapshots__/CustomerCenterEventsRequestTests/testImpressionEvent.1.json
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4540 [Paywalls] Fix PaywallTester compilation on Xcode 15
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
Labels: pr:fix, pr:other

#4538 [Paywalls] Add previews for different combinations of vertical/horizontal alignment and flex distributions
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Views/IconView.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4542 WebPurchaseRedemption: Rename `alreadyRedeemed` result to `purchaseBelongsToOtherUser`
  Sources/Error Handling/BackendError.swift
  Sources/Error Handling/BackendErrorCode.swift
  Sources/Error Handling/ErrorCode.swift
  Sources/Error Handling/ErrorUtils.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/WebPurchaseRedemption/WebPurchaseRedemptionHelper.swift
  Sources/WebPurchaseRedemption/WebPurchaseRedemptionResult.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorCommonTests.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/PaywallsPreview.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/PurchaseTesterApp.swift
  Tests/UnitTests/DeepLink/WebPurchaseRedemptionHelperTests.swift
  Tests/UnitTests/Networking/Backend/BackendPostRedeemWebPurchaseTests.swift
  Tests/UnitTests/Purchasing/ErrorCodeTests.swift
Labels: pr:other

#4319 run-test-ios-15 in xcode 15 to fix incompatibilities with emergetools
  .circleci/config.yml
  Tests/UnitTests/FoundationExtensions/LocaleExtensionsTests.swift
  Tests/UnitTests/Paywalls/PaywallDataTests.swift
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostReceiptWithAdServicesToken.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostReceiptWithSubscriberAttributesPassesCustomerInfoIfStatusCodeIsSuccess.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostReceiptWithSubscriberAttributesPassesErrorIfStatusCodeIsNotSuccess.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostReceiptWithSubscriberAttributesReturnsBadJson.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostReceiptWithSubscriberAttributesSendsThemCorrectly.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostReceiptWithoutSubscriberAttributesSkipsThem.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostSubscriberAttributesCallsCompletionInNetworkErrorCase.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostSubscriberAttributesCallsCompletionInSuccessCase.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostSubscriberAttributesCallsCompletionWithErrorInBadRequestCase.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostSubscriberAttributesSendsAttributesErrorsIfAny.1.json
  Tests/UnitTests/SubscriberAttributes/__Snapshots__/BackendSubscriberAttributesTests/iOS15-testPostSubscriberAttributesSendsRightParameters.1.json
Labels: pr:other

#4557 Revert "Remove PaywallsTesterTests"
  RevenueCat.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/xcshareddata/xcschemes/PaywallsTester - Live Config.xcscheme
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/xcshareddata/xcschemes/PaywallsTester - SK config.xcscheme
Labels: pr:other

#4554 [Customer Center] Slight improvement to the Customer Center Promotional Offer view
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
Labels: feat:Customer Center, pr:other

#4555 Support non-JSON object decodable values in `getMetadataValue`
  Sources/Purchasing/Offering.swift
  Tests/UnitTests/Purchasing/OfferingsTests.swift
Labels: pr:fix

#4556 [EXTERNAL] Polished the Polish translation (#4496) via @miszu
  RevenueCatUI/Resources/pl.lproj/Localizable.strings
Labels: pr:other, pr:force_patch

#4560 Expose Customer Center to UIKit
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Views/UIKit Compatibility/CustomerCenterViewController.swift
  Tests/APITesters/AllAPITests/AllAPITests.xcodeproj/project.pbxproj
  Tests/APITesters/AllAPITests/RevenueCatUISwiftAPITester/CustomerCenterViewControllerAPI.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/CustomerCenterUIKitView.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:feat, feat:Customer Center

#4563 Hide mode from public init in `CustomerCenterView`
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4528 Add feedback survey option chosen event
  RevenueCatUI/CustomerCenter/Abstractions/CustomerCenterPurchasesType.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterEnvironment.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterPurchases.swift
  RevenueCatUI/CustomerCenter/Data/FeedbackSurveyData.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/FeedbackSurveyViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/CustomerCenter/Events/CustomerCenterEvent.swift
  Sources/CustomerCenter/Events/EventsRequest+CustomerCenter.swift
  Sources/Events/FeatureEvent.swift
  Sources/Events/Networking/EventsRequest.swift
  Sources/Events/StoredEvent.swift
  Sources/Networking/InternalAPI.swift
  Sources/Paywalls/Events/PaywallEvent.swift
  Sources/Paywalls/Events/PaywallEventsManager.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/MockCustomerCenterPurchases.swift
  Tests/UnitTests/CustomerCenter/Events/CustomerCenterEventsRequestTests.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventStoreTests.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsBackendTests.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsManagerTests.swift
  Tests/UnitTests/Paywalls/Events/PaywallEventsRequestTests.swift
  Tests/UnitTests/Paywalls/Events/StoredEventSerializerTests.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4566 Fix wrong discriminator on `CustomerCenterAnswerSubmittedEvent`
  Sources/CustomerCenter/Events/CustomerCenterEvent.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4564 Customer Center DocC updates
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/UIKit Compatibility/CustomerCenterViewController.swift
  Sources/CustomerCenter/CustomerCenterPresentationMode.swift
  Sources/Purchasing/Purchases/Purchases.swift
Labels: feat:Customer Center, pr:other

#4568 [Paywalls] Fix iOS 13/14 tests
  Package.resolved
  RevenueCat.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcodeproj/project.pbxproj
  Tests/TestingApps/PaywallsTester/SnapshotTestingStub/.gitignore
  Tests/TestingApps/PaywallsTester/SnapshotTestingStub/Package.swift
  Tests/TestingApps/PaywallsTester/SnapshotTestingStub/Package@swift-5.7.swift
  Tests/TestingApps/PaywallsTester/SnapshotTestingStub/Sources/SnapshotTestingStub/SnapshotTestingStub.swift
  fastlane/README.md
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4570 [Paywals] Update paywalls tester Package.resolved
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4569 Fix hardcoded title in WrongPlatformView
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4573 Make presentCustomerCenter's onDismiss optional
  RevenueCatUI/CustomerCenter/View+PresentCustomerCenter.swift
  Tests/APITesters/AllAPITests/AllAPITests.xcodeproj/project.pbxproj
  Tests/APITesters/AllAPITests/RevenueCatUISwiftAPITester/CustomerCenterViewAPI.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4515 Refactors the creation of the subscription details in Customer Center
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Data/PurchaseInformation.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  RevenueCatUI/Data/CustomerInfoFixtures.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/MockCustomerCenterPurchases.swift
  Tests/RevenueCatUITests/CustomerCenter/PurchaseInformationTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4575 Always reload customerInfo when Customer Center is loaded
  RevenueCatUI/CustomerCenter/Abstractions/CustomerCenterPurchasesType.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterPurchases.swift
  RevenueCatUI/CustomerCenter/Data/LoadPromotionalOfferUseCase.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/MockCustomerCenterPurchases.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4571 Support toggling update warnings & show update in restore flow
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/CustomerCenter/Views/AppUpdateWarningView.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/RevenueCatUITests/CustomerCenter/ContactSupportUtilitiesTests.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#4576 Calculate restore results based on presence of purchases
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4577 Address ConfirmationDialog SwiftUI error log message
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4574 Add ErrorView to CustomerCenter
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Abstractions/CustomerCenterPurchasesType.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterPurchases.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/ErrorView.swift
  RevenueCatUI/Resources/ar.lproj/Localizable.strings
  RevenueCatUI/Resources/bg.lproj/Localizable.strings
  RevenueCatUI/Resources/ca.lproj/Localizable.strings
  RevenueCatUI/Resources/cs.lproj/Localizable.strings
  RevenueCatUI/Resources/da.lproj/Localizable.strings
  RevenueCatUI/Resources/de.lproj/Localizable.strings
  RevenueCatUI/Resources/el.lproj/Localizable.strings
  RevenueCatUI/Resources/en.lproj/Localizable.strings
  RevenueCatUI/Resources/en_AU.lproj/Localizable.strings
  RevenueCatUI/Resources/en_CA.lproj/Localizable.strings
  RevenueCatUI/Resources/en_GB.lproj/Localizable.strings
  RevenueCatUI/Resources/en_US.lproj/Localizable.strings
  RevenueCatUI/Resources/es_419.lproj/Localizable.strings
  RevenueCatUI/Resources/es_ES.lproj/Localizable.strings
  RevenueCatUI/Resources/fi.lproj/Localizable.strings
  RevenueCatUI/Resources/fr_CA.lproj/Localizable.strings
  RevenueCatUI/Resources/he.lproj/Localizable.strings
  RevenueCatUI/Resources/hi.lproj/Localizable.strings
  RevenueCatUI/Resources/hr.lproj/Localizable.strings
  RevenueCatUI/Resources/hu.lproj/Localizable.strings
  RevenueCatUI/Resources/id.lproj/Localizable.strings
  RevenueCatUI/Resources/it.lproj/Localizable.strings
  RevenueCatUI/Resources/ja.lproj/Localizable.strings
  RevenueCatUI/Resources/kk.lproj/Localizable.strings
  RevenueCatUI/Resources/ko.lproj/Localizable.strings
  RevenueCatUI/Resources/ms.lproj/Localizable.strings
  RevenueCatUI/Resources/nl.lproj/Localizable.strings
  RevenueCatUI/Resources/no.lproj/Localizable.strings
  RevenueCatUI/Resources/pl.lproj/Localizable.strings
  RevenueCatUI/Resources/pt_BR.lproj/Localizable.strings
  RevenueCatUI/Resources/pt_PT.lproj/Localizable.strings
  RevenueCatUI/Resources/ro.lproj/Localizable.strings
  RevenueCatUI/Resources/ru.lproj/Localizable.strings
  RevenueCatUI/Resources/sk.lproj/Localizable.strings
  RevenueCatUI/Resources/sv.lproj/Localizable.strings
  RevenueCatUI/Resources/th.lproj/Localizable.strings
  RevenueCatUI/Resources/tr.lproj/Localizable.strings
  RevenueCatUI/Resources/uk.lproj/Localizable.strings
  RevenueCatUI/Resources/vi.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_Hans.lproj/Localizable.strings
  RevenueCatUI/Resources/zh_Hant.lproj/Localizable.strings
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/MockCustomerCenterPurchases.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4523 [Paywalls V2] Fix border being hidden by next sibling component
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4585 Remove extra beta Customer Center docs
  RevenueCatUI/CustomerCenter/View+PresentCustomerCenter.swift
  Sources/CustomerCenter/CustomerCenterPresentationMode.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other, pr:force_patch

#4587 Dont show refund cancelled message when user cancels refund
  RevenueCatUI/CustomerCenter/Views/SubscriptionDetailsView.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4591 Make web Redemption Link APIs stable
  RevenueCatUI/View+OnRedeemWebPurchaseAttempt.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/WebPurchaseRedemption/URL+WebPurchaseRedemption.swift
  Sources/WebPurchaseRedemption/WebPurchaseRedemption.swift
  Sources/WebPurchaseRedemption/WebPurchaseRedemptionResult.swift
Labels: pr:other

#4588 Update refund granted default string
  Sources/CustomerCenter/CustomerCenterConfigData.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4592 [WEB-1757] Handle new backend error codes that may show in the redemption endpoint
  Sources/Error Handling/BackendErrorCode.swift
Labels: pr:other

#4584 Always call readyForPromotedProduct on the main actor
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesDeferredPurchasesTests.swift
Labels: pr:fix

#4594 [Paywalls] Fix issues with rounded corners and borders
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4599 Revert "Always call readyForPromotedProduct on the main actor"
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesDeferredPurchasesTests.swift
Labels: pr:other

#4603 Fix loading Customer Center when entitlement is granted by another Apple app
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/Data/Strings.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4605 Use #file instead of #fileID to avoid including the full path in the compiled binary
  RevenueCatUI/Helpers/Logger.swift
  Sources/Error Handling/Assertions.swift
Labels: pr:other

#4607 Fixing text, image, and footer render issues
  RevenueCatUI/Modifiers/FitToAspectRatio.swift
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Root/RootView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/V2/ViewHelpers/BackgroundStyle.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4608 Use SK2 RenewalInfo to get renewal prices & currency
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Data/PurchaseInformation.swift
  RevenueCatUI/CustomerCenter/Utilities/CustomerCenterStoreKitUtilities.swift
  RevenueCatUI/CustomerCenter/Utilities/CustomerCenterStoreKitUtilitiesType.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/Mocks/MockCustomerCenterPurchases.swift
  Tests/RevenueCatUITests/CustomerCenter/Mocks/MockCustomerCenterStoreKitUtilities.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4614 Add Comment to StoreKit2ObserverModePurchaseDetectorTests
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2ObserverModePurchaseDetectorTests.swift
Labels: pr:other

#4617 [Paywalls V2] Fix current offering and sticky footer
  RevenueCatUI/Templates/V2/Components/Root/RootView.swift
  Sources/Purchasing/Offerings.swift
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#4620 [Paywalls V2] Fix analytics and dismiss
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/Previews/PreviewMock.swift
  Sources/Paywalls/Events/PaywallEvent.swift
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#4621 [Paywalls V2] Added fallback components
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/FallbackComponentPreview.swift
  Sources/Paywalls/Components/Common/PaywallComponentBase.swift
  Tests/UnitTests/Paywalls/Components/ButtonComponentTests.swift
  Tests/UnitTests/Paywalls/Components/FallbackComponentTests.swift
  Tests/UnitTests/Paywalls/Components/PartialComponentTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2
