Repository RevenueCat/purchases-ios, pull requests merged in 2024-11, with the labels that each got.

#4417 Apply state and conditions ONLY for text component
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/LocalizedPartials.swift
  RevenueCatUI/Templates/Components/Packages/Package/ComponentViewState.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView+Extensions.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
  Sources/Paywalls/Components/Common/ComponentOverrides.swift
  Sources/Paywalls/Components/Common/PartialComponent.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/UnitTests/Paywalls/Components/PartialComponentTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4423 Fixes reloading paywall images after they've been scrolled off screen
  RevenueCatUI/Helpers/ImageLoader.swift
  Tests/RevenueCatUITests/ImageLoaderTests.swift
Labels: pr:fix, pr:RevenueCatUI

#4410 Refactor `SubscriptionDetailsView` and better `WrongPlatformView`
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Data/SubscriptionInformation.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/SubscriptionDetailsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  RevenueCatUI/Data/CustomerInfoFixtures.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/SubscriptionInformationFixtures.swift
  Tests/RevenueCatUITests/CustomerCenter/SubscriptionInformationTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4400 Introduce PurchaseParams to allow passing extra configuration info when making a purchase
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Logging/Strings/PurchaseStrings.swift
  Sources/Misc/Concurrency/Purchases+async.swift
  Sources/Networking/Operations/PostReceiptDataOperation.swift
  Sources/Networking/Responses/CustomerInfoResponse.swift
  Sources/Purchasing/Purchases/PurchaseParams.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Sources/Purchasing/Purchases/TransactionPoster.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCPurchasesAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK1Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK2Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/ContentView.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/HomeView.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/Offerings/OfferingDetailView.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
  Tests/UnitTests/Purchasing/PurchaseParamsTests.swift
Labels: pr:other

#4431 Support fetching eligible win-back offers for a product
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Error Handling/ErrorCode.swift
  Sources/Error Handling/ErrorUtils.swift
  Sources/Logging/Strings/StoreKitStrings.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Sources/Purchasing/StoreKit2/Win-Back Offers/WinBackOfferEligibilityCalculator.swift
  Sources/Purchasing/StoreKit2/Win-Back Offers/WinBackOfferEligibilityCalculatorType.swift
  Sources/Purchasing/StoreKitAbstractions/StoreProductDiscount.swift
  Sources/Purchasing/StoreKitAbstractions/WinBackOffer.swift
  Sources/Support/StoreMessageType.swift
  Tests/StoreKitUnitTests/BasePurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK1Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK2Tests.swift
  Tests/StoreKitUnitTests/TestHelpers/AvailabilityChecks.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
  Tests/UnitTests/Mocks/MockWinBackOfferEligibilityCalculator.swift
  Tests/UnitTests/Purchasing/ErrorCodeTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesWinBackOfferTests.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
Labels: pr:other, feat:Win-Back Offers

#4438 [Paywalls] Send paywall events when the app is backgrounded and after a successful purchase
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Tests/StoreKitUnitTests/BasePurchasesOrchestratorTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK1Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK2Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/UnitTests/Mocks/MockNotificationCenter.swift
  Tests/UnitTests/Paywalls/Events/PurchasesPaywallEventsTests.swift
  Tests/UnitTests/Purchasing/Purchases/BasePurchasesTests.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
Labels: pr:other

#4436 Fixes for paywalls v2 renderer after testing some real life paywalls
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Templates/Components/Stack/FlexHStack.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/Components/Text/TextComponentView.swift
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Paywalls/Components/Common/Dimension.swift
  Sources/Paywalls/Components/Common/PaywallComponentBase.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Sources/Paywalls/Components/PaywallPackageComponent.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4453 Fix winback tests on iOS 14 & API Tester
  Tests/APITesters/AllAPITests/CustomEntitlementComputationSwiftAPITester/ErrorCodesAPI.swift
  Tests/APITesters/AllAPITests/CustomEntitlementComputationSwiftAPITester/StoreProductDiscountAPI.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCPurchasesErrorCodeAPI.m
  Tests/APITesters/AllAPITests/ObjcAPITester/RCStoreProductDiscountAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/ErrorCodesAPI.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/StoreProductDiscountAPI.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesWinBackOfferTests.swift
Labels: pr:other

#4455 Create paywall component view models in a factory
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/ViewModelFactory.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4370 Support Redeeming Win-Back Offers with Streamlined Purchasing Disabled
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Logging/Strings/StoreKitStrings.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/StoreKit1/PaymentQueueWrapper.swift
  Sources/Purchasing/StoreKit2/StoreKit2PurchaseIntentListener.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK2Tests.swift
  Tests/StoreKitUnitTests/StoreKit2/StoreKit2PurchaseIntentListenerTests.swift
  Tests/UnitTests/Mocks/MockStoreKit2PurchaseIntentListener.swift
  Tests/UnitTests/Mocks/MockStoreKit2PurchaseIntentListenerDelegate.swift
  Tests/UnitTests/Purchasing/PaymentQueueWrapperTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesConfiguringTests.swift
Labels: pr:feat, feat:Win-Back Offers

#4470 Update PurchaseParam code sample
  Sources/Purchasing/Purchases/PurchaseParams.swift
Labels: pr:other

#4468 [Paywalls V2] Update color spec
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView+Extensions.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
  Sources/Paywalls/Components/Common/Border.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4469 [Paywalls V2] Update text spec
  RevenueCatUI/Templates/Components/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4472 [Paywalls V2] Update shape spec
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/Shape.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template5Preview.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4473 [Paywalls V2] Store decoding errors in individual paywall (instead of failing entire offerings response)
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Networking/Responses/PaywallComponentsData.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4476 [Paywalls V2] Update Stack to handle property overrides
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/Components/LocalizedPartials.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Templates/Components/PresentedPartials.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/Components/ViewModelFactory.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4477 [Paywalls V2] Update Image to handle property overrides
  RevenueCatUI/Templates/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4479 [Paywalls V2] Enable PAYWALL_COMPONENTS compiler flag when building PaywallTester in Xcode Cloud
  Tests/TestingApps/PaywallsTester/ci_scripts/ci_pre_xcodebuild.sh
Labels: pr:other

#4480 [Paywalls V2] Fix typo in CI script
  Tests/TestingApps/PaywallsTester/ci_scripts/ci_pre_xcodebuild.sh
Labels: pr:other

#4481 Fix Paywalls Tester when not being built with Paywalls V2
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
Labels: pr:other

#4471 Support redeeming winbacks offer with developer-built paywalls
  Sources/Purchasing/Purchases/PurchaseParams.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/StoreKitAbstractions/WinBackOffer.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/UnitTests/Purchasing/PurchaseParamsTests.swift
Labels: pr:other, feat:Win-Back Offers

#4487 Enable Paywall Tester to build with Paywalls V2
  Package.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
  Tests/TestingApps/PaywallsTester/ci_scripts/ci_pre_xcodebuild.sh
Labels: pr:other

#4444 Close feedback survey after picking an option
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4488 Make purchase params & winback functions public
  Sources/Misc/Concurrency/Purchases+async.swift
  Sources/Networking/Responses/CustomerInfoResponse.swift
  Sources/Purchasing/Purchases/PurchaseParams.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Sources/Purchasing/StoreKitAbstractions/WinBackOffer.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCPurchasesAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK1Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK2Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/Offerings/OfferingDetailView.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
  Tests/UnitTests/Purchasing/PurchaseParamsTests.swift
Labels: pr:other

#4475 Dismiss promotional offer sheet after successful purchase
  RevenueCatUI/CustomerCenter/Abstractions/CustomerCenterPurchasesType.swift
  RevenueCatUI/CustomerCenter/Data/CustomerCenterPurchases.swift
  RevenueCatUI/CustomerCenter/ViewModels/FeedbackSurveyViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/PromotionalOfferViewModel.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
Labels: pr:fix, feat:Customer Center

#4489 Add support for `product_mapping` in promotional offers
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Data/LoadPromotionalOfferUseCase.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/SubscriptionInformationFixtures.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
  Tests/UnitTests/Networking/Backend/BackendGetCustomerCenterConfigTests.swift
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#4399 Fighting flakiness: no longer uses `beCloseToDate` in `CustomerInfoOfflineEntitlementsStoreKitTest.verifyEntitlement`
  Sources/OfflineEntitlements/PurchasedSK2Product.swift
  Tests/StoreKitUnitTests/OfflineEntitlements/CustomerInfoOfflineEntitlementsStoreKitTest.swift
Labels: pr:other

#4490 [Paywalls V2] Process variables in the text component
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Components/PackageContext.swift
  RevenueCatUI/Templates/Components/PackageValidator.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/PreviewHelpers/PreviewMock.swift
  RevenueCatUI/Templates/Components/ScreenCondition.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/Components/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Views/LoadingPaywallView.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4491 [Paywalls V2] Introduce new `LocalizationProvider` for localized strings and locale
  RevenueCatUI/Templates/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/Components/Button/ButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/Components/LinkButton/LinkButtonComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/Components/Packages/Package/PackageComponentViewModel.swift
  RevenueCatUI/Templates/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView+Extensions.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/Components/ViewModelFactory.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4495 [Paywalls V2] Allowing intro eligibility overrides for text (and image and stack)
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView+Extensions.swift
  RevenueCatUI/Templates/Components/TemplateComponentsView.swift
  RevenueCatUI/Templates/V2/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/Button/ButtonComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/ComponentsView.swift
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/LinkButton/LinkButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/LinkButton/LinkButtonComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Packages/Package/ComponentViewState.swift
  RevenueCatUI/Templates/V2/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Packages/Package/PackageComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/Packages/PurchaseButton/PurchaseButtonComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Root/RootView.swift
  RevenueCatUI/Templates/V2/Components/Root/RootViewModel.swift
  RevenueCatUI/Templates/V2/Components/Spacer/SpacerComponentView.swift
  RevenueCatUI/Templates/V2/Components/Spacer/SpacerComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Stack/FlexHStack.swift
  RevenueCatUI/Templates/V2/Components/Stack/FlexVStack.swift
  RevenueCatUI/Templates/V2/Components/Stack/JustifyContent.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/StickyFooter/StickyFooterComponentView.swift
  RevenueCatUI/Templates/V2/Components/StickyFooter/StickyFooterComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/EnvironmentObjects/IntroOfferEligibilityContext.swift
  RevenueCatUI/Templates/V2/EnvironmentObjects/PackageContext.swift
  RevenueCatUI/Templates/V2/EnvironmentObjects/ScreenCondition.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/Previews/PreviewMock.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/V2/ViewHelpers/ShadowModifier.swift
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
  RevenueCatUI/Templates/V2/ViewHelpers/SizeModifier.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/LocalizationProvider.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PackageValidator.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PresentedPartials.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4485 Make PurchaseParams API & Win-Back Functions Public
  Sources/Misc/Concurrency/Purchases+async.swift
  Sources/Networking/Responses/CustomerInfoResponse.swift
  Sources/Purchasing/Purchases/PurchaseParams.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Sources/Purchasing/StoreKitAbstractions/WinBackOffer.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCPurchasesAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/BackendIntegrationTests/BaseStoreKitIntegrationTests.swift
  Tests/BackendIntegrationTests/StoreKitIntegrationTests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK1Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorSK2Tests.swift
  Tests/StoreKitUnitTests/PurchasesOrchestratorTests.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/Offerings/OfferingDetailView.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
  Tests/UnitTests/Purchasing/PurchaseParamsTests.swift
  Tests/UnitTests/Purchasing/Purchases/PurchasesWinBackOfferTests.swift
Labels: pr:other

#4500 [Paywalls] Use .frame(alignment:) to fix alignment in non-multiline text components
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewHelpers/SizeModifier.swift
Labels: pr:RevenueCatUI, pr:other, feat:Paywall Components

#4505 Fix transaction metadata in purchase tester app
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/Offerings/OfferingDetailView.swift
Labels: pr:fix

#4506 Release/5.10.0
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  RevenueCat.podspec
  RevenueCatUI.podspec
  Sources/Misc/SystemInfo.swift
  Tests/InstallationTests/CommonFiles/RevenueCat-Swift.h
  scripts/docs/index.html
  scripts/docs/v4_api_migration_guide.html
  scripts/docs/v5_api_migration_guide.html
Labels: pr:next_release

#4509 [Paywalls] Add button and shortcut to refresh the presented live paywall
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4510 [FIX] Update License Copywrite
  LICENSE
Labels: pr:other

#4511 [Paywalls] Fix stack alignment issues by applying frame alignment to the size modifier
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/ViewHelpers/SizeModifier.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4513 Pass transactionData to handleReceiptPost in syncPurchasesSK2
  Sources/Purchasing/Purchases/PurchasesOrchestrator.swift
Labels: pr:other

#4503 Add lifetime support to the Customer Center
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Data/CustomerCenterConfigTestData.swift
  RevenueCatUI/CustomerCenter/Data/PurchaseInformation.swift
  RevenueCatUI/CustomerCenter/ViewModels/CustomerCenterViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/ManageSubscriptionsViewModel.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/SubscriptionDetailsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  RevenueCatUI/Data/CustomerInfoFixtures.swift
  Tests/RevenueCatUITests/CustomerCenter/CustomerCenterViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/ManageSubscriptionsViewModelTests.swift
  Tests/RevenueCatUITests/CustomerCenter/SubscriptionInformationFixtures.swift
  Tests/RevenueCatUITests/CustomerCenter/SubscriptionInformationTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4514 [Paywalls] Remove lazy stack usages and fix alignment issues
  RevenueCatUI/Templates/V2/Components/Stack/FlexHStack.swift
  RevenueCatUI/Templates/V2/Components/Stack/FlexVStack.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4446 Add new view modifier to redeem web purchases
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCat.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  RevenueCatUI/View+OnRedeemWebPurchaseAttempt.swift
  Sources/WebPurchaseRedemption/URL+WebPurchaseRedemption.swift
  Tests/APITesters/AllAPITests/AllAPITests.xcodeproj/project.pbxproj
  Tests/APITesters/AllAPITests/RevenueCatUISwiftAPITester/RedeemWebPurchasesAPI.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Info.plist
  Tests/TestingApps/PaywallsTester/PaywallsTester/PaywallsPreview.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:feat, pr:RevenueCatUI

#4516 Add eligibleWinBackOffers(forPackage) functions
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCPurchasesAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/PurchasesAPI.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
Labels: pr:feat, feat:Win-Back Offers

#4522 [Paywalls] Add support for gradient backgrounds
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewHelpers/BackgroundStyle.swift
  RevenueCatUI/Templates/V2/ViewHelpers/ForegroundColorScheme.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Views/GradientView.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2
