Repository RevenueCat/purchases-ios, pull requests merged in 2025-01, with the labels that each got.

#4628 [Paywalls V2] Add UIConfig to OfferingsResponse
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template5Preview.swift
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Networking/Responses/RevenueCatUI/PaywallComponentsData.swift
  Sources/Networking/Responses/RevenueCatUI/UIConfig.swift
  Sources/Purchasing/Offering.swift
  Sources/Purchasing/Offerings.swift
  Sources/Purchasing/OfferingsFactory.swift
  Tests/StoreKitUnitTests/OfferingsManagerStoreKitTests.swift
  Tests/UnitTests/Caching/DeviceCacheTests.swift
  Tests/UnitTests/Misc/PurchasesDiagnosticsTests.swift
  Tests/UnitTests/Mocks/MockOfferingsFactory.swift
  Tests/UnitTests/Networking/Responses/Fixtures/UIConfig.json
  Tests/UnitTests/Networking/Responses/OfferingsDecodingTests.swift
  Tests/UnitTests/Networking/Responses/PaywallDataDecodingTests.swift
  Tests/UnitTests/Networking/Responses/UIConfigDecodingTests.swift
  Tests/UnitTests/Purchasing/OfferingsManagerTests.swift
  Tests/UnitTests/Purchasing/OfferingsTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4632 [Paywalls V2] Add support for alias solid hex colors (not gradients)
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/ViewHelpers/BackgroundStyle.swift
  RevenueCatUI/Templates/V2/ViewHelpers/ForegroundColorScheme.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/UIConfigProvider.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4636 [Paywalls] Fix PaywallTester build
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/SamplePaywalls.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4637 [EXTERNAL] Lock RateLimiter.shouldProceed() entirely to avoid race conditions (#4635) via @nguyenhuy
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Misc/RateLimiter.swift
  Tests/UnitTests/Misc/RateLimiterTests.swift
Labels: pr:fix

#4633 [Paywalls V2] Implement V2 variables and functions
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Data/TestData.swift
  RevenueCatUI/Helpers/Package+VariableDataProvider.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/Previews/PreviewMock.swift
  RevenueCatUI/Templates/V2/Variables/VariableHandlerV2.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/UIConfigProvider.swift
  Sources/Purchasing/StoreKitAbstractions/StoreProduct.swift
  Sources/Purchasing/StoreKitAbstractions/StoreProductDiscount.swift
  Sources/Purchasing/StoreKitAbstractions/SubscriptionPeriod.swift
  Sources/Purchasing/StoreKitAbstractions/Test Data/TestStoreProduct.swift
  Tests/RevenueCatUITests/PaywallsV2/VariableHandlerV2Tests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4640 [Paywalls V2] Decode rectangle corners as optional
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/ConfigItem.swift
  Tests/UnitTests/Paywalls/Components/Properties/MaskShapeComponentTests.swift
  Tests/UnitTests/Paywalls/Components/Properties/ShapeComponentTests.swift
  Tests/UnitTests/Paywalls/Components/StackComponentTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4644 [Paywalls V2] Optionalizing padding, margin, and corner radius properties for safety
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/Config/ConfigItem.swift
  Tests/UnitTests/Paywalls/Components/Properties/CornerRadiusesPropertyTests.swift
  Tests/UnitTests/Paywalls/Components/Properties/MaskShapePropertyTests.swift
  Tests/UnitTests/Paywalls/Components/Properties/PaddingPropertyTests.swift
  Tests/UnitTests/Paywalls/Components/Properties/ShapePropertyTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4630 [Paywalls] Use CALayer-backed shadows and refactor Shape.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/ViewHelpers/BackgroundStyle.swift
  RevenueCatUI/Templates/V2/ViewHelpers/ShadowModifier.swift
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4645 Deprecate misnamed purchase(params) function in Obj-C
  Sources/Misc/Deprecations.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Sources/Purchasing/Purchases/PurchasesType.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCPurchasesAPI.m
Labels: pr:fix

#4646 [Paywalls V2] Fix vstack and hstack growing size when fit
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/ViewHelpers/SizeModifier.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4647 fix: Use custom label for CompatibilityContentUnavailableView
  RevenueCatUI/CustomerCenter/Views/CompatibilityContentUnavailableView.swift
Labels: pr:fix

#4650 [Paywalls V2] Updating UIConfig aliased colors to contain both light and dark
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/Previews/PreviewMock.swift
  RevenueCatUI/Templates/V2/ViewHelpers/BackgroundStyle.swift
  RevenueCatUI/Templates/V2/ViewHelpers/DisplayableColor.swift
  RevenueCatUI/Templates/V2/ViewHelpers/ForegroundColorScheme.swift
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
  RevenueCatUI/Templates/V2/ViewHelpers/SizeModifier.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/UIConfigProvider.swift
  Sources/Networking/Responses/RevenueCatUI/UIConfig.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4649 [Paywalls V2] Updated outdated image component properties
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template5Preview.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4596 [Paywalls] Add Badge Modifier
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewHelpers/BadgeModifier.swift
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4654 [Paywalls V2] Accept number as font size for text
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template5Preview.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
  Tests/UnitTests/Networking/Responses/Fixtures/UIConfig.json
  Tests/UnitTests/Networking/Responses/UIConfigDecodingTests.swift
  Tests/UnitTests/Paywalls/Components/PartialComponentTests.swift
  Tests/UnitTests/Paywalls/Components/TextComponentTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4657 [Paywalls V2] Fix compilation errors
  RevenueCatUI/Templates/V2/ViewHelpers/BadgeModifier.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4648 [Paywalls] Tabs (multi-tier / toggle) component
  Package.resolved
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/ComponentsView.swift
  RevenueCatUI/Templates/V2/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabControlButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabControlButtonComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabControlComponentView.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabControlComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabControlToggleComponentView.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabControlToggleComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabsComponentView.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabsComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Previews/PreviewMock.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/FamilySharingTogglePreview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/MultiTierPreview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template5Preview.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PackageValidator.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
  Sources/Paywalls/Components/Common/PaywallComponentBase.swift
  Sources/Paywalls/Components/PaywallTabsComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4653 fix: dismiss alert using binding instead of environment dismiss
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
Labels: pr:fix

#4655 [Paywalls V2] Icon Component
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Components/ComponentsView.swift
  RevenueCatUI/Templates/V2/Components/Icon/IconComponentView.swift
  RevenueCatUI/Templates/V2/Components/Icon/IconComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentViewModel.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
  Sources/Paywalls/Components/Common/PaywallComponentBase.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Sources/Paywalls/Components/PaywallIconComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4659 feat: [CustomerCenter] Introduce CompatibilityLabeledContent
  RevenueCatUI/CustomerCenter/Views/CompatibilityLabeledContent.swift
Labels: pr:feat, pr:RevenueCatUI

#4661 fix: Fix versions for swift-doc, snapshot-testing & nimble
  Package.resolved
  Package.swift
  Package@swift-5.7.swift
  Package@swift-5.8.swift
Labels: pr:fix

#4663 Add purchaseWithParams to PurchasesType
  Sources/Purchasing/Purchases/PurchasesType.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
Labels: pr:fix

#4665 [Paywalls V2] Convert Codable structs to classes
  RevenueCatUI/Templates/V2/Components/Icon/IconComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  Sources/Paywalls/Components/PaywallButtonComponent.swift
  Sources/Paywalls/Components/PaywallIconComponent.swift
  Sources/Paywalls/Components/PaywallImageComponent.swift
  Sources/Paywalls/Components/PaywallPackageComponent.swift
  Sources/Paywalls/Components/PaywallPurchaseButtonComponent.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Sources/Paywalls/Components/PaywallStickyFooterComponent.swift
  Sources/Paywalls/Components/PaywallTabsComponent.swift
  Sources/Paywalls/Components/PaywallTextComponent.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4658 [Paywalls V2] Prefetch low res images
  RevenueCat.xcodeproj/project.pbxproj
  Sources/Paywalls/Components/PaywallV2CacheWarming.swift
  Sources/Paywalls/PaywallCacheWarming.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4668 Do not warn when using mac API keys
  Sources/Purchasing/Configuration.swift
  Tests/UnitTests/Purchasing/ConfigurationTests.swift
Labels: pr:other

#4664 feat: [CustomerCenter] Introduce CustomerCenterNavigationLink
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Views/CustomerCenterNavigationLink.swift
Labels: pr:feat, feat:Customer Center

#4666 [Paywalls V2] Added V1 fallback paywall into Paywall V2 error logic
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/FamilySharingTogglePreview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/MultiTierPreview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4667 [Paywalls V2] Use V1 default paywall when footers are used with V2 paywalls
  RevenueCatUI/PaywallView.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/FamilySharingTogglePreview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/MultiTierPreview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4674 [Paywalls V2] Add masking (concave, convex, circle) and padding/margin to image
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Image/ImageComponentViewModel.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/Template1Preview.swift
  RevenueCatUI/Templates/V2/ViewHelpers/Shape.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4678 feat: Make CustomerCenterActionHandler optional for CustomerCenterNavigationLink
  RevenueCatUI/CustomerCenter/Views/CustomerCenterNavigationLink.swift
Labels: pr:feat, pr:RevenueCatUI

#4671 [Trusted Entitlements] Do not clear CustomerInfo upon enabling Trusted Entitlements
  Sources/Identity/IdentityManager.swift
  Sources/Logging/Strings/IdentityStrings.swift
  Tests/UnitTests/Identity/IdentityManagerTests.swift
Labels: pr:other

#4677 feat: Add View extension based on CompatibilityNavigationStack
  RevenueCatUI/CustomerCenter/Views/CompatibilityNavigationStack.swift
Labels: pr:feat, pr:RevenueCatUI

#4679 Add convenience method for setting PostHog User ID
  Sources/Purchasing/Purchases/Attribution.swift
  Sources/SubscriberAttributes/ReservedSubscriberAttributes.swift
  Sources/SubscriberAttributes/SubscriberAttributesManager.swift
  Tests/APITesters/AllAPITests/ObjcAPITester/RCAttributionAPI.m
  Tests/APITesters/AllAPITests/SwiftAPITester/AttributionAPI.swift
  Tests/TestingApps/PurchaseTesterSwiftUI/Shared/Views/Customer/SubscriberAttributesView.swift
  Tests/UnitTests/Mocks/MockPurchases.swift
  Tests/UnitTests/Mocks/MockSubscriberAttributesManager.swift
  Tests/UnitTests/SubscriberAttributes/PurchasesSubscriberAttributesTests.swift
  Tests/UnitTests/SubscriberAttributes/SubscriberAttributesManagerTests.swift
Labels: enhancement, pr:feat

#4681 Revert changes to public Customer Center API
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/CustomerCenter/Views/CompatibilityNavigationStack.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterNavigationLink.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4687 fix: Do not lint deleted files
  scripts/pre-commit.sh
Labels: pr:fix

#4688 refactor: [CustomerCenter] Improve syntax for CommonLocalizedString
  RevenueCatUI/CustomerCenter/ButtonStyles.swift
  RevenueCatUI/CustomerCenter/ContactSupportUtilities.swift
  RevenueCatUI/CustomerCenter/ViewModels/PurchaseHistory/PurchaseDetailViewModel.swift
  RevenueCatUI/CustomerCenter/Views/AppUpdateWarningView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/NoSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseDetailView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseHistoryView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseLinkView.swift
  RevenueCatUI/CustomerCenter/Views/RestorePurchasesAlert.swift
  RevenueCatUI/CustomerCenter/Views/SubscriptionDetailsView.swift
  RevenueCatUI/CustomerCenter/Views/WrongPlatformView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
Labels: enhancement, feat:Customer Center, pr:other

#4690 Use config response for `displayPurchaseHistoryLink`
  Sources/CustomerCenter/CustomerCenterConfigData.swift
  Sources/Networking/Responses/CustomerCenterConfigResponse.swift
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
Labels: pr:RevenueCatUI, feat:Customer Center, pr:other

#4691 fix: Add missing test for support in CustomerCenter
  Tests/UnitTests/CustomerCenter/CustomerCenterConfigDataTests.swift
  Tests/UnitTests/Networking/Backend/BackendGetCustomerCenterConfigTests.swift
Labels: feat:Customer Center, pr:other

#4698 [Paywalls] Fix hex colors with alpha component
  RevenueCatUI/Templates/V2/ViewModelHelpers/PaywallComponentTypeTransformers.swift
  Sources/Paywalls/PaywallColor.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4704 fix: Set environment values for every child view in CustomerCenter
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseHistoryView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4706 fix: Use usesNavigationStack instead of usesExistingNavigation
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4702 feat: Add debug section for purchase detail
  RevenueCatUI/CustomerCenter/ViewModels/PurchaseHistory/PurchaseDetailViewModel.swift
  RevenueCatUI/CustomerCenter/ViewModels/PurchaseHistory/PurchaseInfo.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseDetailView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseLinkView.swift
  Sources/CustomerCenter/CustomerCenterConfigData.swift
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#4711 fix: Show close button in ErrorView
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4705 [Paywalls V2] New overrides structure
  RevenueCat.xcodeproj/project.pbxproj
  RevenueCatUI/Templates/V2/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/Components/Tabs/TabsComponentView.swift
  RevenueCatUI/Templates/V2/Components/Text/TextComponentView.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/FamilySharingTogglePreview.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/MultiTierPreview.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/PresentedPartials.swift
  Sources/Paywalls/Components/Common/ComponentOverrides.swift
  Sources/Paywalls/Components/PaywallV2CacheWarming.swift
  Tests/RevenueCatUITests/PaywallsV2/PresentedPartialsTests.swift
  Tests/RevenueCatUITests/PaywallsV2/VariableHandlerV2Tests.swift
  Tests/UnitTests/Paywalls/Components/PartialComponentTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4716 Fix Font.TextStyle.caption3 Availabilities on tvOS
  RevenueCatUI/PaywallFontProvider.swift
Labels: pr:fix

#4717 [Paywalls] Move SwiftUI previews for badge behind DEBUG flag
  RevenueCatUI/Templates/V2/ViewHelpers/BadgeModifier.swift
Labels: pr:fix, pr:RevenueCatUI

#4719 [Paywalls V2] Fix paywalls badge rendering
  RevenueCatUI/Templates/V2/ViewHelpers/BadgeModifier.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
  Sources/Paywalls/Components/Common/PaywallComponentPropertyTypes.swift
  Tests/UnitTests/Paywalls/Components/StackComponentTests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#4714 Add `uiPreviewMode` to `DangerousSettings`
  Sources/Misc/DangerousSettings.swift
  Tests/APITesters/AllAPITests/AllAPITests.xcodeproj/project.pbxproj
  Tests/APITesters/AllAPITests/SwiftAPITester/DangerousSettingsAPI.swift
  Tests/APITesters/AllAPITests/SwiftAPITester/main.swift
Labels: pr:other

#4724 fix: Remove buttonStyle for PurchaseHistory
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseHistoryView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseLinkView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4736 fix: PaywalTester successful archive
  RevenueCatUI/Templates/V2/ViewHelpers/Fill.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: pr:fix, pr:other

#4730 [Paywalls V2] Fix footer spacing issues
  RevenueCatUI/Templates/V2/Components/Root/RootView.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#4723 fix: Revisit environment values for CustomerCenter
  RevenueCatUI/CustomerCenter/ViewModels/PurchaseHistory/PurchaseDetailViewModel.swift
  RevenueCatUI/CustomerCenter/Views/CustomerCenterView.swift
  RevenueCatUI/CustomerCenter/Views/FeedbackSurveyView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsButtonsView.swift
  RevenueCatUI/CustomerCenter/Views/ManageSubscriptionsView.swift
  RevenueCatUI/CustomerCenter/Views/PromotionalOfferView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseDetailView.swift
  RevenueCatUI/CustomerCenter/Views/PurchaseHistory/PurchaseHistoryView.swift
  RevenueCatUI/CustomerCenter/Views/TintedProgressView.swift
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#4742 [Paywalls] Do not embed the badge in an extra stack
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4740 [Paywalls V2] Support variable mapping
  RevenueCatUI/Templates/V2/Components/Text/TextComponentViewModel.swift
  RevenueCatUI/Templates/V2/Variables/VariableHandlerV2.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/UIConfigProvider.swift
  Tests/RevenueCatUITests/PaywallsV2/VariableHandlerV2Tests.swift
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#4743 [Paywalls] Add background property to Stack component
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  Sources/Paywalls/Components/PaywallStackComponent.swift
  Tests/UnitTests/Paywalls/Components/StackComponentTests.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4744 [Paywalls V2] Ignore top safe area edges for image
  RevenueCatUI/Templates/V2/Components/Button/ButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/ComponentsView.swift
  RevenueCatUI/Templates/V2/Components/Packages/Package/PackageComponentView.swift
  RevenueCatUI/Templates/V2/Components/Packages/PurchaseButton/PurchaseButtonComponentView.swift
  RevenueCatUI/Templates/V2/Components/Root/RootViewModel.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentViewModel.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
  RevenueCatUI/Templates/V2/Previews/PreviewMock.swift
  RevenueCatUI/Templates/V2/Previews/TemplateComponentsViewPreviews/FallbackComponentPreview.swift
  RevenueCatUI/Templates/V2/ViewHelpers/BackgroundStyle.swift
  RevenueCatUI/Templates/V2/ViewModelHelpers/ViewModelFactory.swift
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#4725 UI Preview Mode: app user ID
  Sources/Identity/IdentityManager.swift
  Sources/Logging/Strings/IdentityStrings.swift
  Sources/Purchasing/Purchases/Purchases.swift
  Tests/UnitTests/Identity/IdentityManagerTests.swift
  Tests/UnitTests/Mocks/MockIdentityManager.swift
Labels: pr:other

#4745 [Paywalls V2] Add full cover option to Paywalls Tester
  Tests/TestingApps/PaywallsTester/PaywallsTester/Data/OfferingsPaywallsViewModel.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/APIKeyDashboardList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/OfferingButton.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/OfferingList/OfferingsList.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/PaywallPresenter.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/PaywallViewMode+Extensions.swift
  Tests/TestingApps/PaywallsTester/PaywallsTester/UI/Views/SamplePaywallsList.swift
Labels: pr:other

#4748 [Paywalls] Fix ZStack alignment
  RevenueCatUI/Templates/V2/Components/Stack/StackComponentView.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4746 [Paywalls V2] Fix footer positioning and bottom padding
  RevenueCatUI/Templates/V2/Components/Root/RootView.swift
  RevenueCatUI/Templates/V2/PaywallsV2View.swift
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#4750 [Paywalls] Add extra gradient previews
  RevenueCatUI/Views/GradientView.swift
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#4735 UI Preview Mode: mock products
  Sources/Networking/Responses/OfferingsResponse.swift
  Sources/Purchasing/OfferingsManager.swift
  Tests/UnitTests/Purchasing/OfferingsManagerTests.swift
Labels: pr:other

#4694 chore: Avoid gemfile.lock updates by fixing dependencies
  Gemfile
  Gemfile.lock
Labels: enhancement, pr:other

#4752 UI Preview Mode: add extra header to network requests
  Sources/Networking/HTTPClient/HTTPClient.swift
  Tests/UnitTests/Networking/HTTPClientTests.swift
Labels: pr:other
